.row
	.col-lg-8.col-md-8#contact-form
		- flash.each do |name, msg|
			- if msg.is_a?(String)
				%div{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}", style: "margin-top: -70px;"}
					%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
					= content_tag :div, msg, :id => "flash_#{name}"
		= form_tag('/contact_us/send_contact_message', method: "post") do
			= text_field_tag :name, "", :class=>'form-control', :type => "text", :placeholder=>'Nombre', style: "border-bottom:none;"
			= text_field_tag :email, "", :class=>'form-control', :type => "text", :placeholder=>'Email', style: "border-bottom:none;"
			= text_field_tag :subject, "", :class=>'form-control', :type => "text", :placeholder=>'Asunto', style: "border-bottom:none;"
			= text_area_tag :content, "", :class=>'form-control' , :placeholder=>'Mensaje'
			.row
				.col-lg-6
					= recaptcha_tags :display => { lang: 'es' }, ajax: true
				.col-lg-6
					= button_tag(type: 'submit', class: "btn btn-contact pull-right") do
						ENVIAR
						%i.fa.fa-chevron-right
	.col-lg-4.col-md-4#contact-info
		.title-contact
			CONTACTO
		.title-contact
			PUNTO FIJO - EDO. FALCÓN VENEZUELA 
		.email-contact
			info@qcomerenparaguana.com
		.phone-contact
			0414 688.12.17
		.phone-contact
			0414 960.78.73