.container
	.title-enterate	
		Entérate sobre la variedad gastronómica de la Península de Paraguaná
	%img.corchete{src: "assets/frontend/corchete.png"}
	.text-enterate
		Una guía gastronómica diseñada para tí.
	.row#items
		.col-lg-4.col-md-4.col-sm-4
			%center
				.busca
			%p
				BUSCA
		.col-lg-4.col-md-4.col-sm-4
			%center
				.encuentra
			%p
				ENCUENTRA
		.col-lg-4.col-md-4.col-sm-4
			%center
				.disfruta
			%p
				DISFRUTA
