- if action_name == "index"
	.container
		=image_tag "frontend/logotipo.png"
		.row#redes
			.col-lg-4.col-md-4.col-sm-4.col-xs-4
				= link_to "https://twitter.com/qcomerenprgna", target: "_blank" do
					= image_tag "frontend/twitter.png", width:"60px;"
			.col-lg-4.col-md-4.col-sm-4.col-xs-4
				= link_to "https://facebook.com/qcomerenparaguana", target: "_blank" do
					= image_tag "frontend/facebook.png", width:"60px;"
			.col-lg-4.col-md-4.col-sm-4.col-xs-4
				= link_to "https://instagram.com/qcomerenprgna", target: "_blank" do
					= image_tag "frontend/instagram.png", width:"60px;"
.footer-line
	Que Comer En Paraguaná - Todos Los Derechos Reservados.
.footer-slice
	.row
		.col-lg-6
			Desarrolado por
			= link_to "http://slicegroup.xyz/", target: "_blank" do
				= image_tag "frontend/slice.png", class: "footer-logo"
		.col-lg-6
			.pull-right
				%span.muffin-text
					Diseñado por
				= link_to "http://studiomuffin.com/", target: "_blank" do       
					= image_tag "frontend/muffin.png", class: "footer-logo-muffin"