.responsive-container
	.img-container
		.centered
			%img.image-home{src: "assets/frontend/isotipo.png", width: "220px"}
			.title-home Q' comer en Paraguaná
			.box-input-home
				= form_tag frontend_establishment_path, method: :get do |f|
					= text_field_tag :search, params[:search], :placeholder => "¿Q' deseas comer?"
			%i.fa.fa-search#search-icon	
			.title-two-home ¡EN LA VARIEDAD ESTÁ EL GUSTO!
	.button-down
		= link_to "#", class: "down" do 	
			%img#bajar{src: "assets/frontend/bajar.png", width: "60px"}		