%h4.title-result 
	RESULTADOS DE BÚSQUEDA:
	%span
		= params[:search].upcase if !params[:search].blank?
		= @search.upcase.sub('-', ' ') if params[:search].blank? and @search
-unless @establishments.empty?
	- @establishments.each do |establishment|
		.row.result{style: "width:100%"}
			.col-lg-3.col-md-5.col-sm-5.col-xs-5
				= link_to frontend_establishment_profile_path(establishment.permalink) do
					= image_tag establishment.brand.url, class: "brand-profile"
			.col-lg-9.col-md-7.col-sm-7.col-xs-7#result-list
				= link_to frontend_establishment_profile_path(establishment.permalink), class: "link-title" do
					%h2.title-establishment 
						= establishment.name
						%small.socials
							- unless establishment.facebook_name.blank?
								= link_to "https://www.facebook.com/#{establishment.facebook_name}", target: "_blank", class: "social-item" do
									%span.fa-stack.fa-xs
										%i.fa.fa-circle-thin.fa-stack-2x
										%i.fa.fa-facebook.fa-stack-1x
							- unless establishment.twitter_name.blank?
								= link_to "https://www.twitter.com/#{establishment.twitter_name}", target: "_blank", class: "social-item" do
									%span.fa-stack.fa-xs
										%i.fa.fa-circle-thin.fa-stack-2x
										%i.fa.fa-twitter.fa-stack-1x
							- unless establishment.instagram_name.blank?
								= link_to "https://www.instagram.com/#{establishment.instagram_name}", class: "social-item", target: "_blank" do
									%span.fa-stack.fa-xs
										%i.fa.fa-circle-thin.fa-stack-2x
										%i.fa.fa-instagram.fa-stack-1x
											.address-establishment 
				%small.address-establishment{ style: "font-size: 14px;"}
					= establishment.address+". "+establishment.city+", "+establishment.state			
				.description-establishment.hidden-xs
					= establishment.description.truncate(180)
					
-else
	.empty-establishment
		= "Resultado no encontrado."