= content_for(:description, @establishment.description.truncate(180))
.banner-profile{style:"background-image: url('#{@establishment.banner.url}')"}
	.title-profile	
		= @establishment.name

	= image_tag @establishment.brand.url, class: "brand-profile"
	.profile-mask
.container
	.row
		.col-lg-8.col-md-8.col-sm-8{style:"padding-bottom: 70px;"}
			.col-lg-12.col-md-12.description
				%h2 Sobre nosotros
				= @establishment.description
			.col-lg-12.col-md-12.address
				%label
					%span.fa-stack.fa-xs
						%i.fa.fa-circle-thin.fa-stack-2x
						%i.fa.fa-map-marker.fa-stack-1x
					Dirección:
				%span
					= "#{@establishment.address}, #{@establishment.city}, #{@establishment.state}"
				%br
				%label
					%span.fa-stack.fa-xs
						%i.fa.fa-circle-thin.fa-stack-2x
						%i.fa.fa-clock-o.fa-stack-1x
					Horario:
				%span
					= "#{@establishment.day_aperture} a #{@establishment.day_close}. De #{@establishment.hour_aperture} a #{@establishment.hour_close}"
				%br
				- unless @establishment.phone_1.blank? and @establishment.phone_2.blank?
					%label
						%span.fa-stack.fa-xs
							%i.fa.fa-circle-thin.fa-stack-2x
							%i.fa.fa-mobile-phone.fa-stack-1x
						Teléfono(s):
					%span
						= "#{@establishment.phone_1}"
					= " / #{@establishment.phone_2}" unless @establishment.phone_2.blank?
					%br
				- unless @establishment.facebook_name.blank? 
					%label
						%span.fa-stack.fa-xs
							%i.fa.fa-circle-thin.fa-stack-2x
							%i.fa.fa-facebook.fa-stack-1x
						Facebook:
					%span
						= link_to "https://www.facebook.com/#{@establishment.facebook_name}", target:"_blank" do
							= "#{@establishment.facebook_name}"
					%br
				- unless @establishment.twitter_name.blank?
					%label
						%span.fa-stack.fa-xs
							%i.fa.fa-circle-thin.fa-stack-2x
							%i.fa.fa-twitter.fa-stack-1x
						Twitter:
					%span
						= link_to "https://www.twitter.com/#{@establishment.twitter_name}", target:"_blank" do
							= "#{@establishment.twitter_name}"
					%br
				- unless @establishment.instagram_name.blank?
					%label
						%span.fa-stack.fa-xs
							%i.fa.fa-circle-thin.fa-stack-2x
							%i.fa.fa-instagram.fa-stack-1x
						Instagram:
					%span
						= link_to "https://www.instagram.com/#{@establishment.instagram_name}", target:"_blank" do
							= "#{@establishment.instagram_name}"
					%br 
						
		.col-lg-4.col-md-4.col-sm-4.services
			%h2 Especialidad
			%ul
				- @establishment.categories.each do |category|
					%li
						%i.fa.fa-circle 
						= category.name
			%h2 Servicios
			%ul
				- @establishment.services.each do |service|
					%li
						%i.fa.fa-circle 
						= service.name
			- if @establishment.delivery
				%h2 Servicio de entrega por
				= link_to "http://telollevoparaguana.com/establishment/#{@establishment.permalink}", target: "_blank" do
					= image_tag "frontend/telollevo.png", style: "margin:-10px;"
			%h2 Aceptamos
			.payments
				%center
					- if @establishment.credit_card
						%i.fa.fa-cc-visa{ "data-toggle" => "tooltip", "data-placement" => "bottom",	 title: "Visa"}
						%i.fa.fa-cc-mastercard{ "data-toggle" => "tooltip", "data-placement" => "bottom",	 title: "Mastercard"}
					- if @establishment.debit
						%i.fa.fa-credit-card{ "data-toggle" => "tooltip", "data-placement" => "bottom",	 title: "Tarjeta de debito"}
					- if @establishment.cash
						%i.fa.fa-money{ "data-toggle" => "tooltip", "data-placement" => "bottom",	 title: "Efectivo"}

		.col-lg-12{ style: "padding:0px;" }
			#map{ style: 'height: 300px;' }

:javascript	
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	})

	$(document).ready(function() { 
		if("#{@establishment.latitude}" != "" && "#{@establishment.latitude}" != "") {
			gmaps_init("#{@establishment.latitude}", "#{@establishment.longitude}", "#{@establishment.name}" ,"#{@establishment.brand.url}",14);
		}
		else {
			gmaps_init(6.42375, -66.58973000000003, 5);
		}
	});
