.container
	= link_to "#", class: "up_encuentra" do 
		%img#subir{src: "assets/frontend/subir.png", width: "60px"}
	.title-registra	
		¿Quiéres registrar tu restaurante?
	%img.corchete{src: "assets/frontend/corchete.png"}
	.text-registra
		¡Comunícate con nosotros y se parte de la mejor guía gastronómica!