.tags-list
	- @categories.each do |category|
		= link_to search_by_category_path(category.permalink), class: "tag-link" do
			.tag{class: "#{'active' if params[:permalink] == category.permalink}"}
				= category.name.humanize			
