#navigation
	= render 'layouts/frontend/navigation'
#busqueda
	.img-search
		.container
			.title-search	
				Tú buscas, nosotros encontramos para tí...
			.box-input-encuentra
				= form_tag frontend_establishment_path, method: :get do |f|
					= text_field_tag :search, params[:search], :placeholder => "¿Q' deseas comer?"
	.search-line.hidden-xs

	.row.hidden-xs{style: "width:100%"}
		.col-lg-3.col-md-3.col-sm-3
			%center
				.tag-title
					CATEGORÍAS
				= render "tags"
		.col-lg-9.col-md-9.col-sm-9
			#listing
				= render "listing"
	.visible-xs
		.tag-title#title-xs
			CATEGORÍAS
			%i.icon.pull-right.fa
		= render "tags"		
		#listing
			= render "listing"	
#footer
	= render "footer"

:javascript
	$(document).ready(function(){
		$('.icon').addClass("fa-caret-down");
		$("#title-xs").click(function(){		
			$('.tags-list').slideToggle(300);
		})
	});