#home
	= render "home"
#navigation
	= render 'layouts/frontend/navigation'
#enterate
	= render "enterate"
#encuentra
	= render "encuentra"
#registra
	= render "registra"
#contactos
	= render "contactos"
#footer
	= render "footer"
:javascript
	function scrollToAnchor(aid, id){
		var aTag = $("#"+id);
		$('html,body').animate({scrollTop: aTag.offset().top},'slow');
	}

	$(".up_home").on('click', function() {
		scrollToAnchor(this.id, "navigation");
	});

	$(".up_encuentra").on('click', function() {
		scrollToAnchor(this.id, "encuentra");
	});

	$(".down").on('click', function() {
		scrollToAnchor(this.id, "navigation");
	});