= simple_form_for(@service) do |f|
	.container_form	
		.title_form
			Datos del servicio
		.form-inyx
			= f.input :name, label:false, input_html: { class: 'form-control input-inyx', placeholder: "Nombre" }
			= f.input :description, label:false, as: :text,input_html: { class: 'form-control input-inyx', placeholder: "Descripción" }
		%br
		.panel-footer
			.form-actions
				= f.button :submit, "Guardar", class: "pull-right btn submit-inyx"
			.clearfix