%head
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %title= content_for?(:title) ? yield(:title) : 'Inyxmater Rails'
  %link{:href => "http://fonts.googleapis.com/css?family=Titillium+Web:300", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "http://fonts.googleapis.com/css?family=Roboto:300, 400, 700", :rel => "stylesheet", :type => "text/css"}/
  %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Inyxmater Rails'}"}
  = stylesheet_link_tag 'admin/application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'admin/application', 'data-turbolinks-track' => true
  = javascript_include_tag "//www.google.com/jsapi", "chartkick"
  %script{:src => "https://maps.googleapis.com/maps/api/js"}

  = csrf_meta_tags
  = favicon_link_tag "admin/logo.png"