%li{ class: "#{'active' if params[:controller] == 'admin'}" }
  = link_to main_app.admin_index_path do
    %i.fa.fa-desktop
    Dashboard
= render "layouts/admin/links_engines"
- if can? :index, Order
  %li{ class: "#{'active' if params[:controller] == 'orders'}" }
    = link_to main_app.orders_path do
      %i.fa.fa-shopping-cart
      Ordenes
- if can? :index, Establishment
  %li{ class: "#{'active' if params[:controller] == 'establishments'}" }
    = link_to main_app.establishments_path do
      %i.fa.fa-building
      Establecimientos
- if can? :index, Category
  %li{ class: "#{'active' if params[:controller] == 'categories'}" }
    = link_to main_app.categories_path do
      %i.fa.fa-tags
      Categorías
- if can? :index, Service
  %li{ class: "#{'active' if params[:controller] == 'services'}" }
    = link_to main_app.services_path do
      %i.fa.fa-list-alt
      Servicios
- if can? :index, User
  %li{ class: "#{'active' if params[:controller] == 'users'}" }
    = link_to main_app.users_path do
      %i.fa.fa-user
      = t('user.model')

%li.visible-xs
  = link_to main_app.root_path do
    = "<i class='fa fa-reply'></i> #{t("navbar-admin.website")}".html_safe
