.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1",:id => "role-options-{{object.id}}" }
	.modal-dialog
		.modal-content
			= form_tag "{{update_path(object.id)}}",  method: "PUT" do
				.modal-header
					%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
					%h3#myModalLabel.modal-title 
						Roles
				.modal-body
					%center
						- Role.all.each do |rol|
							= radio_button_tag "user[role_ids]", rol.id, false, "ng-model" => "object.rol"
							= label_tag "user[role_ids]", t("admin.roles.#{rol.name}")
				.modal-footer
					%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar
					= submit_tag "Asignar Rol", :class => "btn btn-warning"