= content_for(:title, "Admin - Usuarios | #{@user.name}")
- flash.each do |name, msg|
	- if msg.is_a?(String)
		%div.hidden-xs{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}", id:"message_alerts"}
			%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
			= content_tag :div, msg, :id => "flash_#{name}"
%div
	.panel.panel-default{style:"margin-top:50px"}
		.panel-heading#heading-show{style:"padding-top:5px"}
			.actions
				.title.pull-left{ style: "margin-top:8px;" }
					%i.fa.fa-user
					Usuario - 
					= @user.id
				- if can? :destroy, User
					= link_to user_path(@user), title: t('admin.actions.delete'), :method => :delete, :data => { :confirm => '¿Estas seguro de querer eliminar este usuario?' }, class: "btn btn-default btn-action pull-right" do
						%i.fa.fa-remove
				- if can? :edit, User
					= link_to  edit_user_path(@user), title: t('admin.actions.edit'), class: "btn btn-default btn-action pull-right", style: "margin-right:3px;" do
						%i.fa.fa-pencil		

		.panel-body#body-show
			%label Código
			= @user.id
			%br/
			%label Cédula
			= @user.identification
			%br/
			%label= t('user.name')+': '
			= @user.name
			%br/
			%label= t('user.email')+': '
			= @user.email
			%br/
			%label Dirección:
			= @user.address
			%br/
			%label Télefono:
			= @user.phone
			%br/
			%label Télefono movil:
			= @user.mobile
			%br/
			%label= t('user.rol')+': '
			= t("roles.#{@user.roles.first.name}")
			%br/
			%label= t('user.creacion')+': '
			= t("roles.#{@user.created_at}")
			%br/
			%label= t('user.logeado')+': '
			= t("roles.#{@user.sign_in_count}") 
			veces.
