= simple_form_for(@order) do |f|
  .container_form  
    .title_form
      = "Datos de la Orden - #{@order.id}"
    .form-inyx
      %label Cliente: 
      %span= @order.user.name
      %br/
      %label Dirección:
      %span= @order.address
      %br/
      %label Tipo de pago:
      %span= @order.payment.name.humanize
      %br/
      %label Precio:
      %span= "#{@order.price_order_total} Bs."
      .row
        .col-lg-6
          = f.input :status_id, label: "Cambiar estado:", collection: Status.where.not(id: 1).order(:id).collect {|x| [x.name.humanize, x.id] }, :include_blank => "- Estado -", input_html: { class: "form-control input-inyx", style: "margin-top:0px; margin-bottom:0px;" } 
        .col-lg-6
          = f.input :price_delivery, label: "Precio del envío", input_html: { class: "form-control input-inyx", style: "margin-top:0px;" } 
        .col-lg-12
          = f.input :observation, label: "Observación general", input_html: { class: "form-control input-inyx", style: "margin-top:0px;" } 
      #items
        %h1 Items de la orden
        = f.simple_fields_for :items do |item|
          .nested-fields
            %h3= item.object.name
            - unless item.object.dish.nil?
              %label Descripción:
              = item.object.dish.description 
              %br/
              %label Establecimiento:
              = item.object.dish.establishment.name
              %br/
            %label Precio unitario:
            = "#{item.object.price} Bs."
            %br/
            %label Precio total:
            = "#{item.object.price_total} Bs."
            = render 'item_fields', f: item
            - unless item.object.observation.blank?
              %label Observación:
              = "#{item.object.observation}"
        .links
          = #link_to_add_association 'add item', f, :items

    %br
    .panel-footer
      .form-actions
        = f.button :submit, "Guardar", class: "pull-right btn submit-inyx"
      .clearfix
