= f.input :quantity, label: "Cantidad:", input_html: { class: "form-control input-inyx", style: "margin-top:0px; margin-bottom:10px;" } 
= link_to_remove_association "<i class='fa fa-trash'></i>".html_safe, f, class: "btn btn-danger"