%div{ 'ng-init'=>"init(#{@objects.to_json(only: [:id, :address, :created_at], include: [{ user: { only: [:name, :phone, :mobile] }}, {payment: { only: [:id, :name] }}, {status: {only: [:name, :id]}}], methods: [:price_dishes_total, :items_count, :last_message_payment_status, :number_of_transfer, :cash_confirm, :price_order_total])}, '/admin/orders', '#{params[:search]}', #{@total_rows}, #{Kaminari.config.default_per_page})", "resize" => "" }
  .grid-content
    .col-lg-9.col-md-9{ style: "padding:0px;" } 
      .list-wrapper
        .panel.panel-default
          - flash.each do |name, msg|
            - if msg.is_a?(String)
              %div{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'} pull-right", id: "message_alerts"}
                %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
                = content_tag :div, msg, :id => "flash_#{name}"
          .panel-heading#list-heading
            %a.btn.btn-default.btn-action{"ng-click" => "refresh()", "ng-disabled" => "pagesItemsSelected[currentPageServer].length != 0", :title => t("admin.buttons.refresh") }
              %i.fa.fa-refresh#icon-refresh{'ng-show'=>"!loadingRefresh"}
              %i.fa.fa-refresh.fa-spin{'ng-show'=>"loadingRefresh"}
            - if can? :delete, Order
              %a.btn.btn-default.btn-action{"ng-show" => "objects.length", "ng-click" => "allSelected(objects)", :title => t("admin.buttons.select_all") }
                %i.fa.fa-square-o{"ng-show" => "!btnDelete"}
                %i.fa.fa-check-square-o{ "ng-show" => "btnDelete" } 
              %a.btn.btn-default.btn-action#btn-delete{ "ng-show" => "btnDelete", "ng-click" => "destroy('¿Estas seguro de querer eliminar los usuarios seleccionados?')", :title => t("admin.buttons.trash") }
                %i.fa.fa-circle-o-notch.fa-spin{ 'ng-show' => "loadingDelete" }
                %i.fa.fa-trash-o{ 'ng-show' => "!loadingDelete" }
            .paginator.pull-right{ "ng-show" => "objects.length > 0"}
              %button.btn.btn-default.pull-right.hidden-xs{'disabled'=>"", style:"color:#000; margin-left:3px;"}
                Página {{currentPage+1}} de {{numberOfPages()}}
              %a.btn.btn-default.pull-right.next{ "ng-disabled"=>"currentPage >= total_objects/pageSize - 1 || loadingNext", "ng-click"=>"next()", style: "margin-left:3px" }
                %i.fa.fa-circle-o-notch.fa-spin{ 'ng-show' => "loadingNext" }
                %i.fa.fa-arrow-right{ 'ng-show' => "!loadingNext" }
              %a.btn.btn-default.pull-right.last{'ng-disabled'=>"currentPage == 0 || loadingLast", "ng-click"=>"last()"}
                %i.fa.fa-circle-o-notch.fa-spin{ 'ng-show' => "loadingLast" }
                %i.fa.fa-arrow-left{ 'ng-show' => "!loadingLast" }
          .panel-body{ style: "border-right: 1px solid #e7e7e7;" }
            #table-scroll
              %table.grid{style: "width:100%"}
                %tbody
                  %tr{ class: "select-{{object.checked}}", "ng-click" => "show_object(object)", :id => "row-{{object.id}}", "ng-repeat" => "object in objects | startFrom:currentPage*pageSize | limitTo:pageSize"}
                    - if can? :delete, Order
                      %td{ width: "1px;" }
                        .checkboxFour
                          %input.checkboxFourInput{:id => "check-{{object.id}}", :type => "checkbox", "ng-model" => "object.checked", "ng-click" => "selected(object); $event.stopPorpagation();" }
                          %label{ for: "check-{{object.id}}" }
                            %span
                    %td {{ object.id }}
                    %td {{ object.user.name }}
                    %td {{ object.user.phone }} / {{ object.user.mobile }}
                    %td {{ object.payment.name }}
                    %td {{ object.price_order_total }} Bs.
                    %td
                      %span{ class: "status-{{object.status.name | lowercase}}" } {{object.status.name }}
                  %tr{"ng-show" => "!objects.length"}
                    %td{:style => "width:100%"}
                      %center
                        %i.fa.fa-frown-o
                        No hay ordenes
      
    .col-lg-3.col-md-3{ style: "padding:0px;"}
      .show-wrapper
        .show-head
        .show-body
          .panel.panel-default
            .panel-heading{ style: "height:55px;" }
              .actions{ "ng-show" => "object_data" }
                .title.pull-left{ style: "margin-top:6px;" }
                  %i.fa.fa-cutlery
                  Orden - {{ object_data.id }}
                - if can? :edit, Order
                  = link_to "/admin/orders/{{object_data.id}}/edit", title: t('admin.actions.show'), class: "btn btn-default btn-action pull-right", "ng-show" => "object_data", style: "margin-right:3px;" do
                    %i.fa.fa-pencil
                - if can? :show, Order
                  = link_to "/admin/orders/{{object_data.id}}", title: t('admin.actions.edit'), class: "btn btn-default btn-action pull-right", "ng-show" => "object_data", style: "margin-right:3px;" do
                    %i.fa.fa-eye
              .actions{ "ng-show" => "!object_data", style: "margin-top:6px;" }
                %i.fa.fa-cutlery
                Menú
            .panel-body
              .data{ style: "height: {{windowHeight-104}}px;" }
                %img{ "ng-show" => "object_data.image", "ng-src" => "{{object_data.image}}" }
                .attributes{ "ng-show" => "object_data" }
                  %label Nombre: 
                  {{object_data.user.name}}
                  %br
                  %label Teléfonos: 
                  {{object_data.user.phone}} / {{object_data.user.mobile}}                  
                  %br/
                  %label Tipo de pago
                  {{object_data.payment.name}}
                  %br/
                  %label Status de la orden:
                  %span{ class: "status-{{object_data.status.name | lowercase}}" } {{object_data.status.name}}
                  %br/
                  %label Precio total:
                  {{object_data.price_order_total}} Bs.
                  %br/
                  %div{ "ng-if" => "object_data.status.id != 1"}
                    %label Status del pago:
                    %span{ "ng-if" => "object_data.payment.id == 1"}
                      {{object_data.last_message_payment_status}}
                    %span{ "ng-if" => "object_data.payment.id == 2"}
                      {{object_data.number_of_transfer}}
                    %span{ "ng-if" => "object_data.payment.id == 3"}
                      {{object_data.cash_confirm}}
                    %br/
                  %label Items:
                  {{object_data.items_count}}
                  %br/
                  %label Creada:
                  {{object_data.created_at}}
                .attributes{ "ng-show" => "!object_data"}
                  %center
                    No se ha seleccionado una orden para mostrar.
        .show-footer
          