= content_for(:title, "Admin - Orden | #{@order.id}")
- flash.each do |name, msg|
  - if msg.is_a?(String)
    %div.hidden-xs{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}", id:"message_alerts"}
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      = content_tag :div, msg, :id => "flash_#{name}"
%div
  .panel.panel-default{style:"margin-top:50px"}
    .panel-heading#heading-show{style:"padding-top:5px"}
      .actions
        .title.pull-left{ style: "margin-top:8px;" }
          %i.fa.fa-establishment
          Orden - 
          = @order.id
        = link_to edit_order_path(@order), title: t('admin.actions.edit'), class: "btn btn-default btn-action pull-right", style: "margin-right:3px;" do
          %i.fa.fa-pencil 

    .panel-body#body-show
      .container
        %table.table.table-bordered.order-show
          %tr
            %th{ colspan: '1' }
              %b Tipo de pago  
            %th{ colspan: '2' }
              %b Nombre y Apellido
            %th{ colspan: '1' }
              %b Teléfono            
          %tr
            %td{ colspan: '1' }
              = @order.payment.name.humanize
            %td{ colspan: '2' }
              = @order.user.name
            %td{ colspan: '1' }
              = @order.user.phone
          %tr
            %th{ colspan: '4' }
              %b Dirección de Envio
          %tr
            %td{ colspan: '4' }
              = @order.address
          %tr
            %th{ colspan: '2' }
              Estatus del pago
            %th{ colspan: '2' }
              Estatus de la orden
          %tr
            %td{ colspan: '2' }
              - if @order.has_payment? :credito 
                = @order.last_message_payment_status
              - elsif @order.has_payment? :transferencia 
                = @order.number_of_transfer
              - else
                = @order.cash_confirm
            %td{ colspan: '2' }
              = @order.status.name.humanize
          %tr
            %th{ colspan: '4' }
              %center
                %b Items de la orden
          %tr
            %th
              %b Nombre
            %th
              %b Establecimiento 
            %th
              %b Cantidad
            %th
              %b Precio 
            
          - @order.items.each do |item|
            %tr
              %td= item.name
              %td= item.dish ? item.dish.establishment.name : "El establecimiento fue eliminado"
              %td= item.quantity
              %td= "#{item.price_total.round 2} Bs."
          %tr
            %th{ colspan: '3' } 
              %b Subtotal
            %td{ class: 'danger' }= "#{@order.price_dishes_total.round 2} Bs." 
          %tr
            %th{ colspan: '3' } 
              %b Precio de Envio
            %td{ class: 'info' }= "#{@order.price_delivery.round 2} Bs."
          %tr
            %th{ colspan: '3'} 
              %b Total a Pagar
            %td{ class: 'success' }= "#{@order.price_order_total.round 2} Bs."
          - unless @order.observation.blank?
            %tr
              %th{ colspan: '3' } 
                %b Observación del Administrador
            %tr
              %td{ colspan: '3' } 
                = @order.observation