.container_form{
	margin-top: 60px;
	background: #ffffff;
	border: #c0c0c0;
	box-shadow: 0px 3px 5px #CACACA;
	border-radius: none;
	padding: 0px;

	.form-inyx{
		padding: 10px 20px 10px 20px;
	}

	.title_form{
		background: #E0E0E0 !important;
		color: #616161;
		padding: 10px;
		font-size: 20px;
	}

	.input-inyx {
		margin-top: 15px;
		border-radius: 0px;
	}

	.input-inyx:focus {
		border-color: #4758D3;
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px #4758D3;
    box-shadow: 0 0 8px #4758D3 !important;
	}

	.submit-inyx {
		border-radius: 0px;
		background: #FFC107;
		color: white;
		font-weight: bold;
	}

	.submit-inyx:focus{
		border-radius: 0px;
		outline: 0;
		border: 0px;
		box-shadow: 0 0 0;
		background: #FFC107;
		color: white;
		font-weight: bold;
	}

	.submit-inyx:hover {
		opacity: 0.7;
		color: white !important;
	}

	.error {
		.input-inyx {
			border-color: red;
		}
	}

	div.checkbox.inline {
    .control-label {
      text-align: left;
     	font-weight: bold;
    }
	}

	.file-caption {
		border-radius: 0px;
	}

	.form-control:focus, .file-caption:focus {
		border-color: #4758D3;
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px #4758D3;
    box-shadow: 0 0 8px #4758D3 !important;
	}

	.base-error {
		color: red;
	}

}