.status-pendiente {
	font-weight: bold;
	color: orangered;
}

.status-aprobada {
	font-weight: bold;
	color: blue;
}

.status-confirmando {
	font-weight: bold;
	color: rgb(255, 193, 7);
}

.status-en_camino {
	font-weight: bold;
	color: rgb(105, 92, 3);
}

.status-entregada {
	font-weight: bold;
	color: green;
}

.status-cancelada {
	font-weight: bold;
	color: red;
}

#items {
	h1 {
		text-align: center;
	}

	.nested-fields {
		position: relative;
		padding: 10px;
		margin: 10px 0px 10px 0px;
		border: 1px solid #ddd;

		h3 {
			margin-top:0px;
		}

		.btn {
			top: 5px;
			right: 5px;
			position: absolute;
			color: white;
			border-radius: 0px;
		}
	}
}

.order-show{
	th {
		background: #eee;
	}
}