%head
	%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
	%title= content_for?(:title) ? yield(:title) : "Que Comer en Paraguana - Tu guia Gastronomica"
	%meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Una guía única en la península de paraguaná dónde encontrarás restaurantes de diversas categorías.'}"}
	%link{:href => "http://fonts.googleapis.com/css?family=Oswald:400,300,700", :rel => "stylesheet", :type => "text/css"}/
	%meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Inyxmater Rails'}"}
	= favicon_link_tag "frontend/favicon.png"
	= stylesheet_link_tag 'frontend/application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'frontend/application', 'data-turbolinks-track' => true
	%script{:src => "https://maps.googleapis.com/maps/api/js"}
	= csrf_meta_tags
	:javascript
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-59979994-1', 'auto');
		ga('send', 'pageview');

