- if action_name == "index"
	%li= link_to 'INICIO'.html_safe, "#home"
	%li= link_to '¿QUÉ?'.html_safe, "#navigation"
	%li= link_to '¿DÓNDE?'.html_safe, "#encuentra"
	%li= link_to 'CONTACTO'.html_safe, "#contactos", id: "donde"
- else
	%li= link_to 'INICIO'.html_safe, root_path
	%li= link_to '¿QUÉ?'.html_safe, root_path(anchor: "navigation")
	%li= link_to '¿DÓNDE?'.html_safe, root_path(anchor: "encuentra")
	%li= link_to 'CONTACTO'.html_safe, root_path(anchor: "contactos"), id: "donde"

