-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default#front-navbar
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to root_path do
        =image_tag "frontend/brand.png", width: "130px", style: "margin-top:8px;margin-right:20px;" , class: "hidden-xs brand"   
        =image_tag "frontend/brand.png", width: "100px", class: "brand-nav visible-xs"      
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.pull-right.hidden-xs{class: "#{'top-nav' if action_name == "index"}"}       
        = render 'layouts/frontend/navigation_links'
      %ul.nav.navbar-nav.visible-xs{class: "#{'top-nav' if action_name == "index"}"} 
        = render 'layouts/frontend/navigation_links'
