- (action_name == "new" or action_name == "create") ? action="create" : action="update"
= simple_form_for @dish, :url => url_for(:action => action, :controller => 'dishes') do |f|
  .container_form
    .title_form
      Datos del plato
    .form-inyx
      = f.input :image, label:false, as: :file, input_html: { class: "file input-inyx", placeholder: 'image', "data-buttonBefore" => false, "data-input" => false, "data-buttonText" => action_name == "new" ? "Subir logo" : "Cambiar logo", id: "input-logo" }
      = f.input :name, label: false, input_html: { class: 'form-control input-inyx', placeholder: "Nombre del plato" }
      = f.input :description, label: false, input_html: { class: 'form-control input-inyx', placeholder: "Descripción del plato"}
      = f.input :price, label: false, as: :float, input_html: { class: 'form-control input-inyx', placeholder: "Precio del plato", min: 0}
      = f.input :delivery_time, label: false, as: :integer, input_html: { class: 'form-control input-inyx', placeholder: "Tiempo estimado en minutos", min: 0}
      %br/
      = f.association :categories, as: :check_boxes, :collection => Category.order(:name), label: "Seleccione categorías a las cual pertenece"
      = f.input :establishment_id, as: :hidden, input_html: { value: params[:establishment_id] }
    .panel-footer
      .form-actions
        = f.button :submit, "Guardar", class: "pull-right btn submit-inyx"
      .clearfix

- if @dish.image.blank?
  :javascript
    $("#input-logo").fileinput({
      browseClass: "btn btn-primary btn-block",
      showCaption: false,
      showRemove: false,
      showUpload: false,
      browseIcon: '<i class="fa fa-folder-open"></i>',
      browseLabel: ' Subir logo',
    });
- else 
  :javascript
    $("#input-logo").fileinput({
      browseClass: "btn btn-primary btn-block",
      showCaption: true,
      captionIcon: '<i class="fa fa-folder-open"></i>',
      showRemove: false,
      showUpload: false,
      browseIcon: '<i class="fa fa-folder-open"></i>',
      browseLabel: ' Cambiar logo',
      initialPreview: ['"#{image_tag @dish.image, class: 'file-preview-image' if !@dish.image.blank?}"'],
      initialCaption: " #{@dish.image.file.filename.humanize}"
    });