= content_for(:title, "Admin - Plato | #{@dish.name}")
- flash.each do |name, msg|
  - if msg.is_a?(String)
    %div.hidden-xs{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}", id:"message_alerts"}
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      = content_tag :div, msg, :id => "flash_#{name}"
%div
  .panel.panel-default{style:"margin-top:50px"}
    .panel-heading#heading-show{style:"padding-top:5px"}
      .actions
        .title.pull-left{ style: "margin-top:8px;" }
          %i.fa.fa-establishment
          Plato - 
          = @dish.id
        = link_to establishment_dish_path(params[:establishment_id], @dish.id), title: t('admin.actions.delete'), :method => :delete, :data => { :confirm => '¿Estas seguro de querer eliminar este plato?' }, class: "btn btn-default btn-action pull-right" do
          %i.fa.fa-remove
        = link_to edit_establishment_dish_path(params[:establishment_id], @dish.id), title: t('admin.actions.edit'), class: "btn btn-default btn-action pull-right", style: "margin-right:3px;" do
          %i.fa.fa-pencil
        = link_to establishment_dishes_path, title: "Volver a listado de platos", class: "btn btn-default btn-action pull-right", style: "margin-right:3px;" do
          %i.fa.fa-arrow-left
    .panel-body#body-show
      %p
        = image_tag @dish.image, width: "200px;"
      %p
        %b Nombre:
        = @dish.name
      %p
        %b Descripción:
        = @dish.description
      %p
        %b Precio:
        = @dish.price
      %p
        %b Tiempo de entrega:
        = @dish.delivery_time
      %p
        %b Establecimiento:
        = @dish.establishment.name
     