%p= "¡Hola #{@user.name}!"
%p Alguien ha solicitado cambiar tu contraseña. Puede hacerlo a través del siguiente enlace.
%p= link_to 'Cambiar mi contraseña', "http://telollevoparaguana.com/user/authentication/password/edit?reset_password_token=#{@user.reset_password_token}"
%p Si usted no ha solicitado este, por favor, ignora este mensaje.
%p La contraseña no cambiará hasta que acceda al enlace anterior y crear una nueva contraseña.