//Responsive design
$desktop-large: "(min-width:1200px)"
$desktop: "(min-width:992px)"
$tablet: "(min-width:768px)"
$tablet-landscape: "(min-width:768px) and (orientation : portrait)"
$phone: "(max-width: 767px) and (orientation : portrait)"
$phone-landscape: "(max-width: 767px) and (orientation : landscape)"
$min-phone: "(max-width: 320px) and (orientation : portrait)"

//fuentes
$font-type: 'Oswald', sans-serif

//colores
$white-color: #ffffff
$red-color: #d7251c

//mixins

@mixin transition-all($time)
	-webkit-transition: all $time
	-moz-transition: all $time
	transition: all $time

//enterate
@mixin enterate-item($image)
	background-image: url('#{$image}.png')
	background-position: center
	background-size: 100% 100%
	+transition-all(0.5s)
	@if $image == "busca" or $image == "busca-2" 
		height: 250px
		width: 250px
		margin-top: 31px
		margin-bottom: 41px    
	@else
		height: 308px
		width: 308px
		@media #{$phone}
			width: 300px
			height: 300px
			@if $image == "busca"
				width: 250px
				height: 250px
		@media #{$phone-landscape}
			width: 300px
			height: 300px
			@if $image == "busca"
				width: 250px
				height: 250px
//encuentra
@mixin encuentra-establishment-hover
	.establishment-container:hover
		.establishment-mask
			background: rgba(0, 0, 0, 0.37)
			height: 230px
			width: 264px
			position: relative
			right: 30px
	