/*large desktop*/
@media(min-width:1200px) {
	#busqueda{
		.img-search{
			background-image: url("home.jpg");
			background-position: center;
			background-size: cover;
			height: 200px;
		}
		.search-line{
			height: 20px;
			margin-bottom: 30px;
		}
		.title-search{
			color: #ffffff;
			font-size: 30px;
			font-family: 'Oswald', sans-serif;
			font-weight: 700;
			text-align: center;
			margin-top: 50px;
		}
		.corchete{
			margin-top: 60px;
			margin-bottom: 60px;
		}

		#listing{
			min-height: 300px;
		}

		.empty-establishment{
			font-family: 'Oswald', sans-serif;
			font-weight: 300;
			font-size: 20px;
			padding: 20px;
		}

		.text-search{
			color: #ffffff;
			font-size: 30px;
			font-family: 'Oswald', sans-serif;
			font-weight: 300;
			text-align: center;
		}

		.tag{
			padding: 10px;
			background: #E8E8E8;
			width: 200px;
			font-family: 'Oswald', sans-serif;
			color:#151515;
			font-weight: 300;
			font-size: 20px;		
			text-decoration: none;
		}

		.tag:hover{
			padding: 10px;
			background: #c0c0c0;
			width: 200px;
			font-family: 'Oswald', sans-serif;
			color:#151515;
			font-weight: 300;
			font-size: 20px;
			text-decoration: none;

		}

		.active{
			padding: 10px;
			background: #c0c0c0;
			width: 200px;
			font-family: 'Oswald', sans-serif;
			color:#151515;
			font-weight: 500;
			font-size: 20px;
			text-decoration: none;
		}

		.active:hover{
			padding: 10px;
			background: #c0c0c0;
			width: 200px;
			font-family: 'Oswald', sans-serif;
			color:#151515;
			font-weight: 500;
			font-size: 20px;
			text-decoration: none;
		}

		.tag-link{
			text-decoration: none;
		}

		.title-result{
			color: #c0c0c0;
			font-family: 'Oswald', sans-serif;
			font-weight: 900;
			font-size: 25px;
		}

		#result-list{
			padding-right: 50px;
		}

		.address-establishment{
			color: #908F8F;
			font-family: 'Oswald', sans-serif;
			font-weight: 300;
			font-size: 18px;
		}
		.description-establishment{
			font-family: 'Oswald', sans-serif;
			font-weight: 300;
			font-size: 18px;
			color:#333333;
		}

		.result{
			margin-top: 25px;
			margin-bottom: 50px;
		}

		.tag-title{
			padding: 10px;
			background: #fbc200;
			width: 200px;
			font-family: 'Oswald', sans-serif;
			font-weight: 900;
			font-size: 20px;
			margin-bottom: 10px;
		}

		.title-establishment{
			font-family: 'Oswald', sans-serif;
			margin-bottom: 0px;
			font-weight: 700;
			color: #333333;
		}

		.link-title {
			text-decoration: none;
			color:black;
		}

		.link-title:hover {
			text-decoration: none;
			color: #fbc200;
		}

		.brand-profile{
			width: 150px;
			height: 150px;
			background-color: #ffffff;
			border-radius: 50%;
			box-shadow: 0px 5px 5px #A0A0A0;
		}

		.box-input-encuentra{
	    	width: 60%;
	    	padding: 10px;
	    	border-radius: 50px;
			margin: 4em auto;
			margin-top: 1px;
			input{
				background: none;
				border: 2px solid #ffffff;				
	    		border-radius: 50px;
				color: #ffffff;
				width: 100%;
				height: 40px;
				padding: 25px;
				padding-left: 30px;
				padding-right: 70px;
				font-size: 20px;
			}

			input:focus { 
			  outline: 0;
			}
	  }

	  .socials {
	  	font-family: 'Oswald', sans-serif;
	  	position: relative;
		  font-size: 16px;
		  top: -7px;

		  .social-item {
		  	text-decoration: none;
		  	color: black;
		  }

		  .social-item:hover {
		  	text-decoration: none;
		  	color: #fbc200;
		  }
	  }
	}

}

/*media desktop*/
@media(min-width:992px){
	#busqueda{
		.img-search{
			background-image: url("home.jpg");
			background-position: center;
			background-size: cover;
			height: 200px;
		}
		.search-line{
			height: 20px;
			margin-bottom: 30px;
		}
		.title-search{
			color: #ffffff;
			font-size: 30px;
			font-family: 'Oswald', sans-serif;
			font-weight: 700;
			text-align: center;
			margin-top: 50px;
		}
		.corchete{
			margin-top: 60px;
			margin-bottom: 60px;
		}

		#listing{
			min-height: 300px;
		}

		.empty-establishment{
			font-family: 'Oswald', sans-serif;
			font-weight: 300;
			font-size: 20px;
			padding: 20px;
		}

		.text-search{
			color: #ffffff;
			font-size: 30px;
			font-family: 'Oswald', sans-serif;
			font-weight: 300;
			text-align: center;
		}

		.tag{
			padding: 10px;
			background: #E8E8E8;
			width: 200px;
			font-family: 'Oswald', sans-serif;
			color:#151515;
			font-weight: 300;
			font-size: 20px;		
			text-decoration: none;
		}

		.tag:hover{
			padding: 10px;
			background: #c0c0c0;
			width: 200px;
			font-family: 'Oswald', sans-serif;
			color:#151515;
			font-weight: 300;
			font-size: 20px;
			text-decoration: none;

		}

		.active{
			padding: 10px;
			background: #c0c0c0;
			width: 200px;
			font-family: 'Oswald', sans-serif;
			color:#151515;
			font-weight: 500;
			font-size: 20px;
			text-decoration: none;
		}

		.active:hover{
			padding: 10px;
			background: #c0c0c0;
			width: 200px;
			font-family: 'Oswald', sans-serif;
			color:#151515;
			font-weight: 500;
			font-size: 20px;
			text-decoration: none;
		}

		.tag-link{
			text-decoration: none;
		}

		.title-result{
			color: #c0c0c0;
			font-family: 'Oswald', sans-serif;
			font-weight: 900;
			font-size: 25px;
		}

		#result-list{
			padding-right: 50px;
		}

		.result{
			margin-top: 25px;
			margin-bottom: 50px;
		}

		.result:hover{
			margin-top: 25px;
			margin-bottom: 50px;
			.title-establishment{
				color: #fbc200;
			}	
		}

		.address-establishment{
			color: #908F8F;
			font-family: 'Oswald', sans-serif;
			font-weight: 300;
			font-size: 18px;
		}
		.description-establishment{
			font-family: 'Oswald', sans-serif;
			font-weight: 300;
			font-size: 18px;
			color:#333333;
		}

		.tag-title{
			padding: 10px;
			background: #fbc200;
			width: 200px;
			font-family: 'Oswald', sans-serif;
			font-weight: 900;
			font-size: 20px;
			margin-bottom: 10px;
		}

		.title-establishment{
			font-family: 'Oswald', sans-serif;
			font-weight: 700;
			color: #333333;
		}

		.brand-profile{
			width: 150px;
			height: 150px;
			background-color: #ffffff;
			border-radius: 50%;
			box-shadow: 0px 5px 5px #A0A0A0;
		}

		.box-input-encuentra{
	    	width: 60%;
	    	padding: 10px;
	    	border-radius: 50px;
			margin: 4em auto;
			margin-top: 1px;
			input{
				background: none;
				border: 2px solid #ffffff;				
	    		border-radius: 50px;
				color: #ffffff;
				width: 100%;
				height: 40px;
				padding: 25px;
				padding-left: 30px;
				padding-right: 70px;
				font-size: 20px;
			}

			input:focus { 
			  outline: 0;
			}
	  }

	  .socials {
	  	font-family: 'Oswald', sans-serif;
	  	position: relative;
		  font-size: 16px;
		  top: -7px;

		  .social-item {
		  	text-decoration: none;
		  	color: black;
		  }

		  .social-item:hover {
		  	text-decoration: none;
		  	color: #fbc200;
		  }
	  }
	}

}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
	#busqueda{
		.img-search{
			background-image: url("home.jpg");
			background-position: center;
			background-size: cover;
			height: 200px;
		}
		.search-line{
			height: 20px;
		}
		.title-search{
			color: #ffffff;
			font-size: 30px;
			font-family: 'Oswald', sans-serif;
			font-weight: 700;
			text-align: center;
			margin-top: 50px;
		}
		.corchete{
			margin-top: 60px;
			margin-bottom: 60px;
		}

		#listing{
			min-height: 300px;
			padding: 20px;
		}

		.empty-establishment{
			font-family: 'Oswald', sans-serif;
			font-weight: 300;
			font-size: 20px;
			padding: 20px;
		}

		.text-search{
			color: #ffffff;
			font-size: 30px;
			font-family: 'Oswald', sans-serif;
			font-weight: 300;
			text-align: center;
		}

				.tags-list{
			display: none;
			overflow: hidden;
		}

		.tag{
			padding: 15px;
			background: #E8E8E8;
			width: 100%;
			font-family: 'Oswald', sans-serif;
			color:#151515;
			font-weight: 300;
			font-size: 20px;		
			text-decoration: none;
		}

		.tag:hover{
			padding: 15px;
			background: #c0c0c0;
			width: 100%;
			font-family: 'Oswald', sans-serif;
			color:#151515;
			font-weight: 300;
			font-size: 20px;
			text-decoration: none;

		}

		.active{
			padding: 15px;
			background: #c0c0c0;
			width: 100%;
			font-family: 'Oswald', sans-serif;
			color:#151515;
			font-weight: 300;
			font-size: 20px;
			text-decoration: none;
		}

		.active:hover{
			padding: 15px;
			background: #c0c0c0;
			width: 100%;
			font-family: 'Oswald', sans-serif;
			color:#151515;
			font-weight: 300;
			font-size: 20px;
			text-decoration: none;
		}

		.tag-link{
			text-decoration: none;
		}

		.title-result{
			color: #c0c0c0;
			font-family: 'Oswald', sans-serif;
			font-weight: 900;
			font-size: 25px;
		}

		#result-list{
			padding-right: 50px;
		}

		.address-establishment{
			color: #908F8F;
			font-family: 'Oswald', sans-serif;
			font-weight: 300;
			font-size: 18px;
		}
		.description-establishment{
			font-family: 'Oswald', sans-serif;
			font-weight: 300;
			font-size: 18px;
			color:#333333;
		}

		.result{
			margin-top: 25px;
			margin-bottom: 50px;
		}

		.tag-title{
			padding: 25px;
			background: #fbc200;
			width: 100%;
			font-family: 'Oswald', sans-serif;
			font-weight: 900;
			font-size: 20px;
		}

		.title-establishment{
			font-family: 'Oswald', sans-serif;
			font-weight: 700;
			color: #333333;
		}

		.brand-profile{
			width: 150px;
			height: 150px;
			background-color: #ffffff;
			border-radius: 50%;
			box-shadow: 0px 5px 5px #A0A0A0;
		}

		.box-input-encuentra{
	    	width: 60%;
	    	padding: 10px;
	    	border-radius: 50px;
			margin: 4em auto;
			margin-top: 1px;
			input{
				background: none;
				border: 2px solid #ffffff;				
	    		border-radius: 50px;
				color: #ffffff;
				width: 100%;
				height: 40px;
				padding: 25px;
				padding-left: 30px;
				padding-right: 70px;
				font-size: 20px;
			}

			input:focus { 
			    outline: 0;
			}
	    }
	}

}

/*phone portrait*/
@media(max-width: 767px) and (orientation : portrait) {
	#busqueda{
		.img-search{
			background-image: url("home.jpg");
			background-position: center;
			background-size: cover;
			height: 200px;
		}
		.search-line{
			height: 20px;
		}
		.title-search{
			color: #ffffff;
			font-size: 18px;
			font-family: 'Oswald', sans-serif;
			font-weight: 700;
			text-align: center;
			margin-top: 50px;
		}
		.corchete{
			margin-top: 60px;
			margin-bottom: 60px;
		}

		#listing{
			min-height: 300px;
			padding: 20px;
		}

		.empty-establishment{
			font-family: 'Oswald', sans-serif;
			font-weight: 300;
			font-size: 20px;
			padding: 20px;
		}

		.text-search{
			color: #ffffff;
			font-size: 30px;
			font-family: 'Oswald', sans-serif;
			font-weight: 300;
			text-align: center;
		}

		.tags-list{
			display: none;
			overflow: hidden;
		}

		.tag{
			padding: 15px;
			background: #E8E8E8;
			width: 100%;
			font-family: 'Oswald', sans-serif;
			color:#151515;
			font-weight: 300;
			font-size: 20px;		
			text-decoration: none;
		}

		.tag:hover{
			padding: 15px;
			background: #c0c0c0;
			width: 100%;
			font-family: 'Oswald', sans-serif;
			color:#151515;
			font-weight: 300;
			font-size: 20px;
			text-decoration: none;

		}

		.active{
			padding: 15px;
			background: #c0c0c0;
			width: 100%;
			font-family: 'Oswald', sans-serif;
			color:#151515;
			font-weight: 300;
			font-size: 20px;
			text-decoration: none;
		}

		.active:hover{
			padding: 15px;
			background: #c0c0c0;
			width: 100%;
			font-family: 'Oswald', sans-serif;
			color:#151515;
			font-weight: 300;
			font-size: 20px;
			text-decoration: none;
		}

		.tag-link{
			text-decoration: none;
		}

		.title-result{
			color: #c0c0c0;
			font-family: 'Oswald', sans-serif;
			font-weight: 900;
			font-size: 18px;
		}

		#result-list{
			padding-right: 0px;
			padding-left: 0px;
		}

		.address-establishment{
			color: #908F8F;
			font-family: 'Oswald', sans-serif;
			font-weight: 300;
			font-size: 16px;
		}
		.description-establishment{
			font-family: 'Oswald', sans-serif;
			font-weight: 300;
			font-size: 16px;
			color:#333333;
		}

		.result{
			margin-top: 25px;
			margin-bottom: 50px;
		}

		.tag-title{
			padding: 25px;
			background: #fbc200;
			width: 100%;
			font-family: 'Oswald', sans-serif;
			font-weight: 900;
			font-size: 20px;
		}

		.title-establishment{
			font-family: 'Oswald', sans-serif;
			font-weight: 700;
			color: #333333;
			font-size: 20px;
		}

		.brand-profile{
			width: 100px;
			height: 100px;
			background-color: #ffffff;
			margin-top: 20px;
			border-radius: 50%;
			box-shadow: 0px 5px 5px #A0A0A0;
		}

		.box-input-encuentra{
	    	width: 100%;
			padding: 0px;
			border-radius: 50px;
			margin: 1px auto 4em;
			margin-top: 25px;
			input{
				background: none;
				border: 2px solid #ffffff;				
	    		border-radius: 50px;
				color: #ffffff;
				width: 100%;
				height: 40px;
				padding: 25px;
				padding-left: 30px;
				padding-right: 70px;
				font-size: 20px;
			}

			input:focus { 
			    outline: 0;
			}
	    }
	}

}

/*tablet*/
@media(min-width:768px) {
	#busqueda{
		.img-search{
			background-image: url("home.jpg");
			background-position: center;
			background-size: cover;
			height: 200px;
		}
		.search-line{
			height: 20px;
			margin-bottom: 30px;
		}
		.title-search{
			color: #ffffff;
			font-size: 30px;
			font-family: 'Oswald', sans-serif;
			font-weight: 700;
			text-align: center;
			margin-top: 50px;
		}
		.corchete{
			margin-top: 60px;
			margin-bottom: 60px;
		}

		#listing{
			min-height: 300px;
		}

		.empty-establishment{
			font-family: 'Oswald', sans-serif;
			font-weight: 300;
			font-size: 20px;
			padding: 20px;
		}

		.text-search{
			color: #ffffff;
			font-size: 30px;
			font-family: 'Oswald', sans-serif;
			font-weight: 300;
			text-align: center;
		}

		.tag{
			padding: 10px;
			background: #E8E8E8;
			width: 200px;
			font-family: 'Oswald', sans-serif;
			color:#151515;
			font-weight: 300;
			font-size: 20px;		
			text-decoration: none;
		}

		.tag:hover{
			padding: 10px;
			background: #c0c0c0;
			width: 200px;
			font-family: 'Oswald', sans-serif;
			color:#151515;
			font-weight: 300;
			font-size: 20px;
			text-decoration: none;

		}

		.active{
			padding: 10px;
			background: #c0c0c0;
			width: 200px;
			font-family: 'Oswald', sans-serif;
			color:#151515;
			font-weight: 500;
			font-size: 20px;
			text-decoration: none;
		}

		.active:hover{
			padding: 10px;
			background: #c0c0c0;
			width: 200px;
			font-family: 'Oswald', sans-serif;
			color:#151515;
			font-weight: 500;
			font-size: 20px;
			text-decoration: none;
		}

		.tag-link{
			text-decoration: none;
		}

		.title-result{
			color: #c0c0c0;
			font-family: 'Oswald', sans-serif;
			font-weight: 900;
			font-size: 25px;
		}

		#result-list{
			padding-right: 50px;
		}

		.address-establishment{
			color: #908F8F;
			font-family: 'Oswald', sans-serif;
			font-weight: 300;
			font-size: 18px;
		}
		.description-establishment{
			font-family: 'Oswald', sans-serif;
			font-weight: 300;
			font-size: 18px;
			color:#333333;
		}

		.result{
			margin-top: 25px;
			margin-bottom: 50px;
		}

		.tag-title{
			padding: 10px;
			background: #fbc200;
			width: 200px;
			font-family: 'Oswald', sans-serif;
			font-weight: 900;
			font-size: 20px;
			margin-bottom: 10px;
		}

		.title-establishment{
			font-family: 'Oswald', sans-serif;
			font-weight: 700;
			color: #333333;
		}

		.brand-profile{
			width: 150px;
			height: 150px;
			background-color: #ffffff;
			border-radius: 50%;
			box-shadow: 0px 5px 5px #A0A0A0;
		}

		.box-input-encuentra{
	    	width: 60%;
	    	padding: 10px;
	    	border-radius: 50px;
			margin: 4em auto;
			margin-top: 1px;
			input{
				background: none;
				border: 2px solid #ffffff;				
	    		border-radius: 50px;
				color: #ffffff;
				width: 100%;
				height: 40px;
				padding: 25px;
				padding-left: 30px;
				padding-right: 70px;
				font-size: 20px;
			}

			input:focus { 
			    outline: 0;
			}
	    }
	}

}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
	#busqueda{
		.img-search{
			background-image: url("home.jpg");
			background-position: center;
			background-size: cover;
			height: 200px;
		}
		.search-line{
			height: 20px;
			margin-bottom: 30px;
		}
		.title-search{
			color: #ffffff;
			font-size: 30px;
			font-family: 'Oswald', sans-serif;
			font-weight: 700;
			text-align: center;
			margin-top: 50px;
		}
		.corchete{
			margin-top: 60px;
			margin-bottom: 60px;
		}

		#listing{
			min-height: 300px;
		}

		.empty-establishment{
			font-family: 'Oswald', sans-serif;
			font-weight: 300;
			font-size: 20px;
			padding: 20px;
		}

		.text-search{
			color: #ffffff;
			font-size: 30px;
			font-family: 'Oswald', sans-serif;
			font-weight: 300;
			text-align: center;
		}

		.tag{
			padding: 10px;
			background: #E8E8E8;
			width: 200px;
			font-family: 'Oswald', sans-serif;
			color:#151515;
			font-weight: 300;
			font-size: 20px;		
			text-decoration: none;
		}

		.tag:hover{
			padding: 10px;
			background: #c0c0c0;
			width: 200px;
			font-family: 'Oswald', sans-serif;
			color:#151515;
			font-weight: 300;
			font-size: 20px;
			text-decoration: none;

		}

		.active{
			padding: 10px;
			background: #c0c0c0;
			width: 200px;
			font-family: 'Oswald', sans-serif;
			color:#151515;
			font-weight: 500;
			font-size: 20px;
			text-decoration: none;
		}

		.active:hover{
			padding: 10px;
			background: #c0c0c0;
			width: 200px;
			font-family: 'Oswald', sans-serif;
			color:#151515;
			font-weight: 500;
			font-size: 20px;
			text-decoration: none;
		}

		.tag-link{
			text-decoration: none;
		}

		.title-result{
			color: #c0c0c0;
			font-family: 'Oswald', sans-serif;
			font-weight: 900;
			font-size: 25px;
		}

		#result-list{
			padding-right: 50px;
		}

		.address-establishment{
			color: #908F8F;
			font-family: 'Oswald', sans-serif;
			font-weight: 300;
			font-size: 18px;
		}
		.description-establishment{
			font-family: 'Oswald', sans-serif;
			font-weight: 300;
			font-size: 18px;
			color:#333333;
		}

		.result{
			margin-top: 25px;
			margin-bottom: 50px;
		}

		.tag-title{
			padding: 10px;
			background: #fbc200;
			width: 200px;
			font-family: 'Oswald', sans-serif;
			font-weight: 900;
			font-size: 20px;
			margin-bottom: 10px;
		}

		.title-establishment{
			font-family: 'Oswald', sans-serif;
			font-weight: 700;
			color: #333333;
		}

		.brand-profile{
			width: 150px;
			height: 150px;
			background-color: #ffffff;
			border-radius: 50%;
			box-shadow: 0px 5px 5px #A0A0A0;
		}

		.box-input-encuentra{
	    	width: 60%;
	    	padding: 10px;
	    	border-radius: 50px;
			margin: 4em auto;
			margin-top: 1px;
			input{
				background: none;
				border: 2px solid #ffffff;				
	    		border-radius: 50px;
				color: #ffffff;
				width: 100%;
				height: 40px;
				padding: 25px;
				padding-left: 30px;
				padding-right: 70px;
				font-size: 20px;
			}

			input:focus { 
			    outline: 0;
			}
	    }
	}

}	
