#contactos{
		width: 100%;
		height: 548px;
		overflow: hidden;
		#contact-form{
			height: 100%;
			background-image: url("contact.jpg");
			background-position: center;
			background-size: cover;
			background-repeat: none;
			padding: 30px;
			padding-top: 90px;
			padding-bottom: 90px;		
			.form-control{
				background: none;
				border-radius: 0px;
				color: #ffffff;
				border: 2px solid #ffffff;
				font-size: 20px;
				padding: 30px;
				padding-left: 10px;
			}
		}

		.btn-contact {
			background: none;
			font-size: 1.3em !important;
			border-width: 2px;
			border-color: #ffffff;
			font-weight: 900;
			color: #ffffff;
			padding-left: 30px;
			padding-right: 10px; 
			border-radius: 50px;
			margin-top: 20px;
			i {
				margin-left: 10px;
			}
		}

		.btn-contact:hover {
			background: #ffffff;
			border-color: #ffffff;
			color: #d7251c;
			i {
				color: #d7251c;
				webkit-transition: 0.8s; /* For Safari 3.1 to 6.0 */
				transition: 0.8s;
			}
			webkit-transition: 0.8s; /* For Safari 3.1 to 6.0 */
			transition: 0.8s;
		}

		.refresh{
			i{
				position: relative;
				top: -12px;
				left: 9px;
			}
		}

		.g-recaptcha{
			margin-top: 15px;
		}

		#contact-info{
			height: 100%;
			background-color: #fbc200;
			padding-top: 90px;
			padding-left: 30px;
			padding-bottom: 90px;
			font-family: 'Oswald', sans-serif;		
			.title-contact{
				font-weight: 700;
				font-size: 30px;
				margin-bottom: 60px;
			}
			.email-contact{
				font-weight: 400;
				font-size: 25px;
				margin-bottom: 60px;
			}
			.phone-contact{
				font-weight: 400;
				font-size: 25px;
			}
		}
	}



/*large desktop*/
@media(min-width:1200px) {
	#contactos{
		width: 100%;
		height: 548px;
		overflow: hidden;
		#contact-form{
			height: 100%;
			background-image: url("contact.jpg");
			background-position: center;
			background-size: cover;
			background-repeat: none;
			padding: 30px;
			padding-top: 90px;
			padding-bottom: 90px;		
			.form-control{
				background: none;
				border-radius: 0px;
				color: #ffffff;
				border: 2px solid #ffffff;
				font-size: 20px;
				padding: 30px;
				padding-left: 10px;
			}
		}

		.btn-contact {
			background: none;
			font-size: 1.3em !important;
			border-width: 2px;
			border-color: #ffffff;
			font-weight: 900;
			color: #ffffff;
			padding-left: 30px;
			padding-right: 10px; 
			border-radius: 50px;
			margin-top: 20px;
			i {
				margin-left: 10px;
			}
		}

		.btn-contact:hover {
			background: #ffffff;
			border-color: #ffffff;
			color: #d7251c;
			i {
				color: #d7251c;
				webkit-transition: 0.8s; /* For Safari 3.1 to 6.0 */
				transition: 0.8s;
			}
			webkit-transition: 0.8s; /* For Safari 3.1 to 6.0 */
			transition: 0.8s;
		}

		.refresh{
			i{
				position: relative;
				top: -12px;
				left: 9px;
			}
		}

		#recaptcha_widget{
			height: 64px;
			border-right: none;
			img{
				height: 63px;
				width: 400px;
			}
		}

		.form-captcha{
			border-left: none;
		}

		#contact-info{
			height: 100%;
			background-color: #fbc200;
			padding-top: 90px;
			padding-left: 30px;
			padding-bottom: 90px;
			font-family: 'Oswald', sans-serif;		
			.title-contact{
				font-weight: 700;
				font-size: 30px;
				margin-bottom: 60px;
			}
			.email-contact{
				font-weight: 400;
				font-size: 25px;
				margin-bottom: 60px;
			}
			.phone-contact{
				font-weight: 400;
				font-size: 25px;
			}
		}
	}
}

/*media desktop*/
@media(min-width:992px){
	#contactos{
		width: 100%;
		height: 548px;
		overflow: hidden;
		#contact-form{
			height: 100%;
			background-image: url("contact.jpg");
			background-position: center;
			background-size: cover;
			background-repeat: none;
			padding: 30px;
			padding-top: 90px;
			padding-bottom: 90px;		
			.form-control{
				background: none;
				border-radius: 0px;
				color: #ffffff;
				border: 2px solid #ffffff;
				font-size: 20px;
				padding: 30px;
				padding-left: 10px;
			}
		}

		.btn-contact {
			background: none;
			font-size: 1.3em !important;
			border-width: 2px;
			border-color: #ffffff;
			font-weight: 900;
			color: #ffffff;
			padding-left: 30px;
			padding-right: 10px; 
			border-radius: 50px;
			margin-top: 20px;
			i {
				margin-left: 10px;
			}
		}

		.btn-contact:hover {
			background: #ffffff;
			border-color: #ffffff;
			color: #d7251c;
			i {
				color: #d7251c;
				webkit-transition: 0.8s; /* For Safari 3.1 to 6.0 */
				transition: 0.8s;
			}
			webkit-transition: 0.8s; /* For Safari 3.1 to 6.0 */
			transition: 0.8s;
		}

		.refresh{
			i{
				position: relative;
				top: -12px;
				left: 9px;
			}
		}

		#recaptcha_widget{
			height: 64px;
			border-right: none;
			img{
				height: 63px;
				width: 400px;
			}
		}

		.form-captcha{
			border-left: none;
		}

		#contact-info{
			height: 100%;
			background-color: #fbc200;
			padding-top: 90px;
			padding-left: 30px;
			padding-bottom: 90px;
			font-family: 'Oswald', sans-serif;		
			.title-contact{
				font-weight: 700;
				font-size: 30px;
				margin-bottom: 60px;
			}
			.email-contact{
				font-weight: 400;
				font-size: 25px;
				margin-bottom: 60px;
			}
			.phone-contact{
				font-weight: 400;
				font-size: 25px;
			}
		}
	}
	
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
	#contactos{
		width: 100%;			
		height: 1200px;
		overflow: hidden;
		#contact-form{
			height: 100%;
			background-image: url("contact.jpg");
			background-position: center;
			background-size: cover;
			background-repeat: none;
			padding: 30px;
			padding-top: 90px;
			padding-bottom: 90px;		
			.form-control{
				background: none;
				border-radius: 0px;
				color: #ffffff;
				border: 2px solid #ffffff;
				font-size: 20px;
				padding: 30px;
				padding-left: 10px;
			}
		}

		.btn-contact {
			background: none;
			font-size: 1.3em !important;
			border-width: 2px;
			border-color: #ffffff;
			font-weight: 900;
			color: #ffffff;
			padding-left: 30px;
			padding-right: 10px; 
			border-radius: 50px;
			margin-top: 20px;
			i {
				margin-left: 10px;
			}
		}

		.btn-contact:hover {
			background: #ffffff;
			border-color: #ffffff;
			color: #d7251c;
			i {
				color: #d7251c;
				webkit-transition: 0.8s; /* For Safari 3.1 to 6.0 */
				transition: 0.8s;
			}
			webkit-transition: 0.8s; /* For Safari 3.1 to 6.0 */
			transition: 0.8s;
		}

		.refresh{
			i{
				position: relative;
				top: -12px;
				left: 9px;
			}
		}

		#recaptcha_widget{
			height: 64px;
			border-right: none;
			img{
				height: 63px;
				width: 400px;
			}
		}

		.form-captcha{
			border-left: none;
		}

		#contact-info{
			height: 100%;
			background-color: #fbc200;
			padding-top: 90px;
			padding-left: 30px;
			padding-bottom: 90px;
			font-family: 'Oswald', sans-serif;		
			.title-contact{
				font-weight: 700;
				font-size: 30px;
				margin-bottom: 60px;
			}
			.email-contact{
				font-weight: 400;
				font-size: 25px;
				margin-bottom: 60px;
			}
			.phone-contact{
				font-weight: 400;
				font-size: 25px;
			}
		}
	}
}

/*phone portrait*/
@media(max-width: 767px) and (orientation : portrait) {
	#contactos{
		width: 100%;		
		height: 1200px;
		overflow: hidden;
		#contact-form{
			height: 100%;
			background-image: url("contact.jpg");
			background-position: center;
			background-size: cover;
			background-repeat: none;
			padding: 30px;
			padding-top: 90px;
			padding-bottom: 90px;		
			.form-control{
				background: none;
				border-radius: 0px;
				color: #ffffff;
				border: 2px solid #ffffff;
				font-size: 20px;
				padding: 30px;
				padding-left: 10px;
			}
		}

		.btn-contact {
			background: none;
			font-size: 1.3em !important;
			border-width: 2px;
			border-color: #ffffff;
			font-weight: 900;
			color: #ffffff;
			padding-left: 30px;
			padding-right: 10px; 
			border-radius: 50px;
			margin-top: 20px;
			i {
				margin-left: 10px;
			}
		}

		.btn-contact:hover {
			background: #ffffff;
			border-color: #ffffff;
			color: #d7251c;
			i {
				color: #d7251c;
				webkit-transition: 0.8s; /* For Safari 3.1 to 6.0 */
				transition: 0.8s;
			}
			webkit-transition: 0.8s; /* For Safari 3.1 to 6.0 */
			transition: 0.8s;
		}

		.refresh{
			i{
				position: relative;
				top: -12px;
				left: 9px;
			}
		}

		#recaptcha_widget{
			height: 64px;
			border-right: none;
			img{
				height: 63px;
				width: 400px;
			}
		}

		.form-captcha{
			border-left: none;
		}

		#contact-info{
			height: 100%;
			background-color: #fbc200;
			padding-top: 90px;
			padding-left: 30px;
			padding-bottom: 90px;
			font-family: 'Oswald', sans-serif;		
			.title-contact{
				font-weight: 700;
				font-size: 30px;
				margin-bottom: 60px;
			}
			.email-contact{
				font-weight: 400;
				font-size: 25px;
				margin-bottom: 60px;
			}
			.phone-contact{
				font-weight: 400;
				font-size: 25px;
			}
		}
	}
}

/*tablet*/
@media(min-width:768px) {
	#contactos{
		width: 100%;
		#contact-form{
			height: 100%;
			background-image: url("contact.jpg");
			background-position: center;
			background-size: cover;
			background-repeat: none;
			padding: 30px;
			padding-top: 90px;
			padding-bottom: 90px;		
			.form-control{
				background: none;
				border-radius: 0px;
				color: #ffffff;
				border: 2px solid #ffffff;
				font-size: 20px;
				padding: 30px;
				padding-left: 10px;
			}
		}

		.btn-contact {
			background: none;
			font-size: 1.3em !important;
			border-width: 2px;
			border-color: #ffffff;
			font-weight: 900;
			color: #ffffff;
			padding-left: 30px;
			padding-right: 10px; 
			border-radius: 50px;
			margin-top: 20px;
			i {
				margin-left: 10px;
			}
		}

		.btn-contact:hover {
			background: #ffffff;
			border-color: #ffffff;
			color: #d7251c;
			i {
				color: #d7251c;
				webkit-transition: 0.8s; /* For Safari 3.1 to 6.0 */
				transition: 0.8s;
			}
			webkit-transition: 0.8s; /* For Safari 3.1 to 6.0 */
			transition: 0.8s;
		}

		.refresh{
			i{
				position: relative;
				top: -12px;
				left: 9px;
			}
		}

		#recaptcha_widget{
			height: 64px;
			border-right: none;
			img{
				height: 63px;
				width: 400px;
			}
		}

		.form-captcha{
			border-left: none;
		}

		#contact-info{
			height: 100%;
			background-color: #fbc200;
			padding-top: 90px;
			padding-left: 30px;
			padding-bottom: 90px;
			font-family: 'Oswald', sans-serif;		
			.title-contact{
				font-weight: 700;
				font-size: 30px;
				margin-bottom: 60px;
			}
			.email-contact{
				font-weight: 400;
				font-size: 25px;
				margin-bottom: 60px;
			}
			.phone-contact{
				font-weight: 400;
				font-size: 25px;
			}
		}
	}
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
	#contactos{
		width: 100%;
		height: 570px;
		overflow: hidden;
		#contact-form{
			height: 100%;
			background-image: url("contact.jpg");
			background-position: center;
			background-size: cover;
			background-repeat: none;
			padding: 30px;
			padding-top: 90px;
			padding-bottom: 90px;		
			.form-control{
				background: none;
				border-radius: 0px;
				color: #ffffff;
				border: 2px solid #ffffff;
				font-size: 20px;
				padding: 30px;
				padding-left: 10px;
			}
		}

		.btn-contact {
			background: none;
			font-size: 1.3em !important;
			border-width: 2px;
			border-color: #ffffff;
			font-weight: 900;
			color: #ffffff;
			padding-left: 30px;
			padding-right: 10px; 
			border-radius: 50px;
			margin-top: 20px;
			i {
				margin-left: 10px;
			}
		}

		.btn-contact:hover {
			background: #ffffff;
			border-color: #ffffff;
			color: #d7251c;
			i {
				color: #d7251c;
				webkit-transition: 0.8s; /* For Safari 3.1 to 6.0 */
				transition: 0.8s;
			}
			webkit-transition: 0.8s; /* For Safari 3.1 to 6.0 */
			transition: 0.8s;
		}

		.refresh{
			i{
				position: relative;
				top: -12px;
				left: 9px;
			}
		}

		#recaptcha_widget{
			height: 64px;
			border-right: none;
			img{
				height: 63px;
				width: 200px;
			}
		}

		.form-captcha{
			border-left: none;
		}

		#contact-info{
			height: 100%;
			background-color: #fbc200;
			padding-top: 90px;
			padding-left: 30px;
			padding-bottom: 90px;
			font-family: 'Oswald', sans-serif;		
			.title-contact{
				font-weight: 700;
				font-size: 30px;
				margin-bottom: 60px;
			}
			.email-contact{
				font-weight: 400;
				font-size: 25px;
				margin-bottom: 60px;
			}
			.phone-contact{
				font-weight: 400;
				font-size: 25px;
			}
		}
	}
}	

