@import base
#encuentra
  background-image: url("donde.jpg")
  background-position: center
  background-size: cover
  padding-top: 70px
  padding-bottom: 70px
  #subir
    opacity: 0.5
  #subir:hover
    opacity: 1    
  .title-encuentra
    color: $white-color
    font-size: 30px
    font-family: $font-type
    font-weight: 700
    text-align: center
    margin-top: 70px
  .corchete
    margin-top: 60px
    margin-bottom: 60px
    width: 100px
  .box-input-encuentra
    width: 60%
    padding: 10px
    border-radius: 50px
    margin: 4em auto
    input
      background: none
      border: 2px solid $white-color
      border-radius: 50px
      color: $white-color
      width: 100%
      height: 40px
      padding: 25px
      padding-left: 30px
      padding-right: 70px
      font-size: 20px
    input:focus
      outline: 0
  #search-icon
    color: $white-color
    font-size: 30px
    position: relative
    right: -843px
    top: -110px
  .establishment-container
    background-position: center
    background-size: 100% 100%
    min-height: 250px
    padding-left: 30px
    padding-right: 30px
    overflow: hidden
    border: 10px solid #ffffff
    .establishment-mask
      height: 100%
      width: 100%

@media #{$desktop-large}
  #encuentra
    .box-input-encuentra      
      input
      input:focus
    .establishment-container
      +transition-all(0.3s)
      img 
        +transition-all(0.3s)
      h2
        +transition-all(0.3s)
      h3        
        +transition-all(0.3s)
    +encuentra-establishment-hover

@media #{$desktop}
  #encuentra    
    .box-input-encuentra
      input
      input:focus
    .establishment-container
      +transition-all(0.3s)
      img 
        +transition-all(0.3s)
      h2
        +transition-all(0.3s)
      h3        
        +transition-all(0.3s)
    +encuentra-establishment-hover

@media #{$phone-landscape}
  #encuentra
    .box-input-encuentra
      width: 100%
      input
      input:focus
    .establishment-container
      img 
        margin-top: 20%      
      h2        
      h3

@media #{$phone}
  #encuentra
    .box-input-encuentra
      width: 100%
      input
      input:focus
    .establishment-container
      min-height: 150px
      img  
        margin-top: 20%
        width: 80px
        height: 80px    
      h2  
        font-size: 18px
        font-weight: 700      
      h3
        font-size: 15px
        font-weight: 300
        