@import base
#enterate
  padding-top: 120px
  padding-bottom: 120px
  background-color: $red-color
  .title-enterate
    color: $white-color
    font-size: 30px
    font-family: $font-type
    font-weight: 700
    text-align: center
  .corchete
    margin-top: 60px
    margin-bottom: 60px
    width: 100px
  .text-enterate
    color: $white-color
    font-size: 30px
    font-family: $font-type
    font-weight: 300
    text-align: center
  #items
    margin-top: 79px
    p
      color: $white-color
      font-size: 25px
      font-family: $font-type
      font-weight: 700
      text-align: center
      margin-top: 20px
      @media #{$phone} 
        margin-bottom: 50px
    @each $item in busca encuentra disfruta  
      .#{$item}
        +enterate-item($item)      
      @media #{$desktop}
        .#{$item}:hover
          +enterate-item(#{$item}-2)          
      @media #{$desktop-large}
        .#{$item}:hover
          +enterate-item(#{$item}-2)


