.footer-logo-muffin{
	width: 90px !important;
	margin-top: -7px !important;
}
/*large desktop*/
@media(min-width:1200px) {
	#footer{
		padding-top: 70px;
		#redes{
			margin: 4em auto;
			width: 350px;
			height: 100px;
			margin-top: 40px;
		}
		.footer-line{
			text-align: center;
			color: #ffffff;
			background: #d7251c;
			padding: 20px;
			font-family: 'Oswald', sans-serif;	
			font-weight: 300;
			font-size: 20px;
		}
		.footer-slice{
			padding: 20px;
			font-family: 'Oswald', sans-serif;	
			font-weight: 300;
			font-size: 20px;
			img{
				width: 60px;
				display: inline;
			}
		}

	}
}

/*media desktop*/
@media(min-width:992px){
	#footer{
		padding-top: 70px;
		#redes{
			margin: 4em auto;
			width: 350px;
			height: 100px;
			margin-top: 40px;
		}
		.footer-line{
			text-align: center;
			color: #ffffff;
			background: #d7251c;
			padding: 20px;
			font-family: 'Oswald', sans-serif;	
			font-weight: 300;
			font-size: 20px;
		}
		.footer-slice{
			padding: 20px;
			font-family: 'Oswald', sans-serif;	
			font-weight: 300;
			font-size: 20px;
			img{
				width: 60px;
				display: inline;
			}
		}
	}
	
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
	#footer{
		padding-top: 70px;
		#redes{
			margin: 4em auto;
			width: 350px;
			height: 100px;
			margin-top: 40px;
		}
		.footer-line{
			color: #ffffff;
			background: #d7251c;
			padding: 20px;
			font-family: 'Oswald', sans-serif;	
			font-weight: 300;
			font-size: 20px;
		}
		.footer-slice{
			text-align: center;
			padding: 20px;
			font-family: 'Oswald', sans-serif;	
			font-weight: 300;
			font-size: 20px;
			img{
				width: 60px;
				display: inline;
			}
		}

	}
}

/*phone portrait*/
@media(max-width: 767px) and (orientation : portrait) {
	#footer{
		padding-top: 70px;
		#redes{
			margin: 4em auto;
			width: 314px;
			height: 100px;
			margin-top: 40px;
		}
		.footer-line{
			text-align: center;
			color: #ffffff;
			background: #d7251c;
			padding: 20px;
			font-family: 'Oswald', sans-serif;	
			font-weight: 300;
			font-size: 20px;
		}
		.footer-slice{
			padding: 20px;
			font-family: 'Oswald', sans-serif;	
			font-weight: 300;
			font-size: 20px;
			img{
				width: 60px;
				display: inline;
			}
		}

	}
}

/*tablet*/
@media(min-width:768px) {
	#footer{
		padding-top: 70px;
		#redes{
			margin: 4em auto;
			width: 350px;
			height: 100px;
			margin-top: 40px;
		}
		.footer-line{
			text-align: center;
			color: #ffffff;
			background: #d7251c;
			padding: 20px;
			font-family: 'Oswald', sans-serif;	
			font-weight: 300;
			font-size: 20px;
		}
		.footer-slice{
			padding: 20px;
			font-family: 'Oswald', sans-serif;	
			font-weight: 300;
			font-size: 20px;
			img{
				width: 60px;
				display: inline;
			}
		}

	}
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
	#footer{
		padding-top: 70px;
		#redes{
			margin: 4em auto;
			width: 350px;
			height: 100px;
			margin-top: 40px;
		}
		.footer-line{
			text-align: center;
			color: #ffffff;
			background: #d7251c;
			padding: 20px;
			font-family: 'Oswald', sans-serif;	
			font-weight: 300;
			font-size: 20px;
		}
		.footer-slice{
			padding: 20px;
			font-family: 'Oswald', sans-serif;	
			font-weight: 300;
			font-size: 20px;
			img{
				width: 60px;
				display: inline;
			}
		}

	}
}	

