@import base
#home
  background-image: url("home.jpg")
  background-position: center
  background-attachment: fixed
  background-size: cover
  width: 100%
  #bajar
    opacity: 0.5
  #bajar:hover
    opacity: 1
  .responsive-container
    position: relative
    width: 100%
    border: 1px solid black
  @media #{$phone-landscape} 
    .image-home
      width: 100px  
  @media #{$min-phone}
    .image-home
      width: 175px
  .img-container
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    text-align: center  
    .centered
      vertical-align: middle
      display: inline-block
      height: 300px
      width: 300px
      position: relative
      top: -95px
      @media #{$phone-landscape}
        top: 0
      @media #{$min-phone}
        top: -67px
      .title-home
        color: $white-color
        font-family: $font-type
        font-weight: 300
        font-size: 22px
        position: relative
        top: 10px
        @media #{$phone-landscape}
          display: none
      .box-input-home
        background: rgba(0, 0, 0, 0.5)
        width: 200%
        padding: 10px
        border-radius: 50px
        position: relative
        top: 40px
        left: -149px
        @media #{$phone}
          width: 111%
          left: -19px
        @media #{$phone-landscape}
          width: 151%
          left: -78px
        @media #{$min-phone}
          width: 100%
          left: 0px
        input
          background: $white-color
          border-radius: 50px
          color: #000000
          width: 100%
          height: 40px
          padding: 10px
          padding-left: 30px
          padding-right: 30px
          border: none
          font-size: 20px
        input:focus
          outline: 0 
      #search-icon
        color: #c0c0c0
        font-size: 20px
        position: relative
        right: -269px
        @media #{$phone}
          right: -127px
        @media #{$phone-landscape}
          right: -190px
        @media #{$min-phone}
          right: -115px
      .title-two-home
        color: $white-color
        width: 200%
        font-size: 25px
        position: relative
        top: 30px
        left: -149px
        font-family: $font-type
        font-weight: 700
        @media #{$phone}
          width: 100%
          font-size: 20px
          left: 0px
        @media #{$phone-landscape}
          display: none
  .img-container:before
    content: ' '
    display: inline-block
    vertical-align: middle
    height: 100%  
  .button-down
    position: relative
    bottom: -87%
    @media #{$phone-landscape}
      bottom: 70%
    @media #{$min-phone}
      #bajar
        width: 50px
  .image-home
    opacity: 0

