/*large desktop*/
@media(min-width:1200px) {
	#front-navbar.navbar-default {
		margin-bottom: 0px;
		font-family: 'Oswald', sans-serif;
		font-weight: 700;
		font-size: 20px;
		background-color: #FFFFFF;
		margin-bottom: 0px;
		border-radius: 0px;
		border: none;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.17);
		padding-top: 10px;
		padding-bottom: 10px;
		ul{
			a{
				color: #d7251c;
				margin-top: 8px;
				font-size: 16px;
				width: 80px;
			}
			a:hover{
				color: #fbc306;
				margin-top: 7px;
				font-size: 18px;
				width: 80px;
				position: relative;
				left: -5px;
			}
		}
		.brand-nav{
			position: relative;
			left: -83px;
		}

		#donde{
			left: 14px;
		}
		.brand{
			position: relative;
			top: -5px;
		}


	}
}

/*media desktop*/
@media(min-width:992px){
	#front-navbar.navbar-default {
		margin-bottom: 0px;
		font-family: 'Oswald', sans-serif;
		font-weight: 700;
		font-size: 20px;
		background-color: #FFFFFF;
		margin-bottom: 0px;
		border-radius: 0px;
		border: none;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.17);
		padding-top: 10px;
		padding-bottom: 10px;
		ul{
			a{
				color: #d7251c;
				margin-top: 8px;
				font-size: 16px;
				width: 80px;
			}
			a:hover{
				color: #fbc306;
				margin-top: 7px;
				font-size: 18px;
				width: 80px;
				position: relative;
				left: -5px;
			}
		}
		.brand-nav{
			position: relative;
			left: -83px;
		}

		#donde{
			left: 14px;
		}
		.brand{
			position: relative;
			top: -5px;
		}


	}
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
	#front-navbar.navbar-default {
		margin-bottom: 0px;
		font-family: 'Oswald', sans-serif;
		font-weight: 700;
		font-size: 20px;
		background-color: #FFFFFF;
		margin-bottom: 0px;
		border-radius: 0px;
		border: none;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.17);
		padding-top: 10px;
		padding-bottom: 10px;
		a{
			color: #d7251c;
			margin-top: 13px;
		}
		a:hover{
			color: #fbc306;
			margin-top: 13px;
		}
		.brand-nav{
			position: relative;
			left: -211px;
		}

	}
}

/*phone portrait*/
@media(max-width: 767px) and (orientation : portrait) {
	#front-navbar.navbar-default {
		margin-bottom: 0px;
		font-family: 'Oswald', sans-serif;
		font-weight: 700;
		font-size: 20px;
		background-color: #FFFFFF;
		margin-bottom: 0px;
		border-radius: 0px;
		border: none;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.17);
		padding-top: 10px;
		padding-bottom: 10px;
		a{
			color: #d7251c;
			margin-top: 13px;
		}
		a:hover{
			color: #fbc306;
			margin-top: 13px;
		}
		.brand-nav{
			position: relative;
			left: -83px;
		}

	}
}

/*tablet*/
@media(min-width:768px) {
	#front-navbar.navbar-default {
		margin-bottom: 0px;
		font-family: 'Oswald', sans-serif;
		font-weight: 700;
		font-size: 20px;
		background-color: #FFFFFF;
		margin-bottom: 0px;
		border-radius: 0px;
		border: none;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.17);
		padding-top: 10px;
		padding-bottom: 10px;
		ul{
			a{
				color: #d7251c;
				margin-top: 8px;
				font-size: 16px;
				width: 80px;
			}
			a:hover{
				color: #fbc306;
				margin-top: 7px;
				font-size: 18px;
				width: 80px;
				position: relative;
				left: -5px;
			}
		}
		.brand-nav{
			position: relative;
			left: -83px;
		}

		#donde{
			left: 14px;
		}

		.brand{
			position: relative;
			top: -5px;
		}

	}
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
	#front-navbar.navbar-default {
		margin-bottom: 0px;
		font-family: 'Oswald', sans-serif;
		font-weight: 700;
		font-size: 20px;
		background-color: #FFFFFF;
		margin-bottom: 0px;
		border-radius: 0px;
		border: none;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.17);
		padding-top: 10px;
		padding-bottom: 10px;
		a{
			color: #d7251c;
			margin-top: 13px;
		}
		a:hover{
			color: #fbc306;
			margin-top: 13px;
		}
		.brand-nav{
			position: relative;
			left: -83px;
		}

	}
}

/*tablet portrait*/
@media(max-width:320px) and (orientation : portrait) {
	#front-navbar.navbar-default {
		.brand-nav{
			position: relative;
			left: -65px;
		}

	}
}