/*large desktop*/
@media(min-width:1200px) {
	#profile{
		font-family: 'Oswald', sans-serif;
		font-weight: 300;
		#map { 
			img { 
		  	max-width: none;
		  }
		}
		/* Bootstrap Css Map Fix*/
		#map { 
			label {
		  	width: auto; display:inline; 
		  }
		} 

		.banner-profile{
			background-repeat: none;
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
			height: 300px;
			width: 100%;
			.title-profile{
				color: #ffffff;
				font-size: 50px;
				font-family: 'Oswald', sans-serif;
				font-weight: 400;
				text-align: center;
				position: relative;
				top:100px;
				z-index: 99999;
			}
		}

		.brand-profile{
			width: 200px;
			height: 200px;
			background-color: #ffffff;
			border-radius: 50%;
			position: relative;
			box-shadow: 0px 5px 5px #A0A0A0;
			top:145px;
			right: 0px;
			z-index: 99999;
		}

		

		.profile-mask{
			height: 300px;
			width: 100%;
			background: rgba(0, 0, 0, 0.41);
			position: relative;
			top: -271px;
		}

		.profile-line{
			background-color: #d7251c;
			height: 20px;
		}

		.container{
			text-align: justify;
			width: 100%;
		}

		.services{		
			padding: 30px;
			padding-top: 100px;
			padding-bottom: 200px;
			height: 100%;
			background-color: #fbc200;		
			font-size: 14px;
			color: rgb(56, 55, 49);

			ul {
				padding: 0px;
				li {
					list-style: none;

					i {
						margin-left: 15px;
						margin-right: 5px;
					}
				}
			}

			.payments {
				i {
					font-size: 60px;
					margin-left: 3px;
					margin-right: 3px;
				}

				i:hover {
					color:#ffffff;
					-webkit-transition: .5s; /* For Safari 3.1 to 6.0 */
	    		transition: .5s;
	    		cursor: pointer;
				}
			}
		}

		.description{
			padding-top: 100px;
			padding-left: 50px;
			padding-right: 50px;
		}

		.address {
			margin-top: 40px;
			padding-left: 50px;
			label {
				font-size: 1.5em;
			}
			span{
				font-size: 1.5em;
			}
		}

	}
}

/*media desktop*/
@media(min-width:992px){
	#profile{		
		font-family: 'Oswald', sans-serif;
		font-weight: 300;
		#map { 
			img { 
		  	max-width: none;
		  }
		}
		/* Bootstrap Css Map Fix*/
		#map { 
			label {
		  	width: auto; display:inline; 
		  }
		} 

		.banner-profile{
			background-repeat: none;
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
			height: 300px;
			width: 100%;
			.title-profile{
				color: #ffffff;
				font-size: 50px;
				font-family: 'Oswald', sans-serif;
				font-weight: 400;
				text-align: center;
				position: relative;
				top:100px;
				z-index: 99999;
			}
		}

		.brand-profile{
			width: 200px;
			height: 200px;
			background-color: #ffffff;
			border-radius: 50%;
			position: relative;
			box-shadow: 0px 5px 5px #A0A0A0;
			top:145px;
			right: 0px;
			z-index: 99999;
		}

		

		.profile-mask{
			height: 300px;
			width: 100%;
			background: rgba(0, 0, 0, 0.41);
			position: relative;
			top: -271px;
		}

		.profile-line{
			background-color: #d7251c;
			height: 20px;
		}

		.container{
			text-align: justify;
			width: 100%;
		}

		.services{		
			padding: 30px;
			padding-top: 100px;
			padding-bottom: 200px;
			height: 100%;
			background-color: #fbc200;		
			font-size: 14px;
			color: rgb(56, 55, 49);

			ul {
				padding: 0px;
				li {
					list-style: none;

					i {
						margin-left: 15px;
						margin-right: 5px;
					}
				}
			}

			.payments {
				i {
					font-size: 60px;
					margin-left: 3px;
					margin-right: 3px;
				}

				i:hover {
					color:#ffffff;
					-webkit-transition: .5s; /* For Safari 3.1 to 6.0 */
	    		transition: .5s;
	    		cursor: pointer;
				}
			}
		}

		.description{
			padding-top: 100px;
			padding-left: 50px;
			padding-right: 50px;
		}

		.address {
			margin-top: 40px;
			padding-left: 50px;
			label {
				font-size: 1.5em;
			}
			span{
				font-size: 1.2em;
			}
		}

	}	
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
	#profile{		
		font-family: 'Oswald', sans-serif;
		font-weight: 300;
		#map { 
			img { 
		  	max-width: none;
		  }
		}
		/* Bootstrap Css Map Fix*/
		#map { 
			label {
		  	width: auto; display:inline; 
		  }
		} 

		.banner-profile{
			background-repeat: none;
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
			height: 300px;
			width: 100%;
			.title-profile{
				color: #ffffff;
				font-size: 50px;
				font-family: 'Oswald', sans-serif;
				font-weight: 400;
				text-align: center;
				position: relative;
				top:100px;
				z-index: 99999;
			}
		}

		.brand-profile{
			width: 200px;
			height: 200px;
			background-color: #ffffff;
			border-radius: 50%;
			position: relative;
			box-shadow: 0px 5px 5px #A0A0A0;
			top:145px;
			right: 0px;
			z-index: 99999;
		}

		

		.profile-mask{
			height: 300px;
			width: 100%;
			background: rgba(0, 0, 0, 0.41);
			position: relative;
			top: -271px;
		}

		.profile-line{
			background-color: #d7251c;
			height: 20px;
		}

		.container{
			text-align: justify;
			width: 100%;
		}

		.services{		
			padding: 30px;
			padding-top: 100px;
			padding-bottom: 200px;
			height: 100%;
			background-color: #fbc200;		
			font-size: 14px;
			color: rgb(56, 55, 49);

			ul {
				padding: 0px;
				li {
					list-style: none;

					i {
						margin-left: 15px;
						margin-right: 5px;
					}
				}
			}

			.payments {
				i {
					font-size: 60px;
					margin-left: 3px;
					margin-right: 3px;
				}

				i:hover {
					color:#ffffff;
					-webkit-transition: .5s; /* For Safari 3.1 to 6.0 */
	    		transition: .5s;
	    		cursor: pointer;
				}
			}
		}

		.description{
			padding-top: 100px;
			padding-left: 50px;
			padding-right: 50px;
		}

		.address {
			margin-top: 40px;
			padding-left: 50px;
			label {
				font-size: 1.5em;
			}
			span{
				font-size: 1.2em;
			}
		}

	}
}

/*phone portrait*/
@media(max-width: 767px) and (orientation : portrait) {
	#profile{		
		font-family: 'Oswald', sans-serif;
		font-weight: 300;
		#map { 
			img { 
		  	max-width: none;
		  }
		}
		/* Bootstrap Css Map Fix*/
		#map { 
			label {
		  	width: auto; display:inline; 
		  }
		} 

		.banner-profile{
			background-repeat: none;
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
			height: 300px;
			width: 100%;
			.title-profile{
				color: #ffffff;
				font-size: 30px;
				font-family: 'Oswald', sans-serif;
				font-weight: 400;
				text-align: center;
				position: relative;
				top:100px;
				z-index: 99999;
			}
		}

		.brand-profile{
			width: 200px;
			height: 200px;
			background-color: #ffffff;
			border-radius: 50%;
			position: relative;
			box-shadow: 0px 5px 5px #A0A0A0;
			top:145px;
			right: 0px;
			z-index: 99999;
		}

		

		.profile-mask{
			height: 300px;
			width: 100%;
			background: rgba(0, 0, 0, 0.41);
			position: relative;
			top: -242px;
		}

		.profile-line{
			background-color: #d7251c;
			height: 20px;
		}

		.container{
			text-align: justify;
			width: 100%;
		}

		.services{		
			padding: 30px;
			padding: 50px;
			padding-bottom: 200px;
			height: 100%;
			background-color: #fbc200;		
			font-size: 14px;
			color: rgb(56, 55, 49);

			ul {
				padding: 0px;
				li {
					list-style: none;

					i {
						margin-left: 15px;
						margin-right: 5px;
					}
				}
			}

			.payments {
				i {
					font-size: 30px;
					margin-left: 3px;
					margin-right: 3px;
				}

				i:hover {
					color:#ffffff;
					-webkit-transition: .5s; /* For Safari 3.1 to 6.0 */
	    		transition: .5s;
	    		cursor: pointer;
				}
			}
		}

		.description{
			padding-top: 138px;
		}

		.address {
			margin-top: 40px;
			margin-bottom: 90px;
		}

	}
}

/*tablet*/
@media(min-width:768px) {
	#profile{		
		font-family: 'Oswald', sans-serif;
		font-weight: 300;
		#map { 
			img { 
		  	max-width: none;
		  }
		}
		/* Bootstrap Css Map Fix*/
		#map { 
			label {
		  	width: auto; display:inline; 
		  }
		} 

		.banner-profile{
			background-repeat: none;
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
			height: 300px;
			width: 100%;
			.title-profile{
				color: #ffffff;
				font-size: 50px;
				font-family: 'Oswald', sans-serif;
				font-weight: 400;
				text-align: center;
				position: relative;
				top:100px;
				z-index: 99999;
			}
		}

		.brand-profile{
			width: 200px;
			height: 200px;
			background-color: #ffffff;
			border-radius: 50%;
			position: relative;
			box-shadow: 0px 5px 5px #A0A0A0;
			top:145px;
			right: 0px;
			z-index: 99999;
		}

		

		.profile-mask{
			height: 300px;
			width: 100%;
			background: rgba(0, 0, 0, 0.41);
			position: relative;
			top: -271px;
		}

		.profile-line{
			background-color: #d7251c;
			height: 20px;
		}

		.container{
			text-align: justify;
			width: 100%;
		}

		.services{		
			padding: 30px;
			padding-top: 100px;
			padding-bottom: 200px;
			height: 100%;
			background-color: #fbc200;		
			font-size: 14px;
			color: rgb(56, 55, 49);

			ul {
				padding: 0px;
				li {
					list-style: none;

					i {
						margin-left: 15px;
						margin-right: 5px;
					}
				}
			}

			.payments {
				i {
					font-size: 60px;
					margin-left: 3px;
					margin-right: 3px;
				}

				i:hover {
					color:#ffffff;
					-webkit-transition: .5s; /* For Safari 3.1 to 6.0 */
	    		transition: .5s;
	    		cursor: pointer;
				}
			}
		}

		.description{
			padding-top: 100px;
			padding-left: 50px;
			padding-right: 50px;
		}

		.address {
			margin-top: 40px;
			padding-left: 50px;
			label {
				font-size: 1.5em;
			}
			span{
				font-size: 1.2em;
			}
		}

	}
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
	#profile{		
		font-family: 'Oswald', sans-serif;
		font-weight: 300;
		#map { 
			img { 
		  	max-width: none;
		  }
		}
		/* Bootstrap Css Map Fix*/
		#map { 
			label {
		  	width: auto; display:inline; 
		  }
		} 

		.banner-profile{
			background-repeat: none;
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
			height: 300px;
			width: 100%;
			.title-profile{
				color: #ffffff;
				font-size: 50px;
				font-family: 'Oswald', sans-serif;
				font-weight: 400;
				text-align: center;
				position: relative;
				top:100px;
				z-index: 99999;
			}
		}

		.brand-profile{
			width: 200px;
			height: 200px;
			background-color: #ffffff;
			border-radius: 50%;
			position: relative;
			box-shadow: 0px 5px 5px #A0A0A0;
			top:145px;
			right: 0px;
			z-index: 99999;
		}

		

		.profile-mask{
			height: 300px;
			width: 100%;
			background: rgba(0, 0, 0, 0.41);
			position: relative;
			top: -271px;
		}

		.profile-line{
			background-color: #d7251c;
			height: 20px;
		}

		.container{
			text-align: justify;
			width: 100%;
		}

		.services{		
			padding: 30px;
			padding-top: 100px;
			padding-bottom: 200px;
			height: 100%;
			background-color: #fbc200;		
			font-size: 14px;
			color: rgb(56, 55, 49);

			ul {
				padding: 0px;
				li {
					list-style: none;

					i {
						margin-left: 15px;
						margin-right: 5px;
					}
				}
			}

			.payments {
				i {
					font-size: 60px;
					margin-left: 3px;
					margin-right: 3px;
				}

				i:hover {
					color:#ffffff;
					-webkit-transition: .5s; /* For Safari 3.1 to 6.0 */
	    		transition: .5s;
	    		cursor: pointer;
				}
			}
		}

		.description{
			padding-top: 100px;
			padding-left: 50px;
			padding-right: 50px;
		}

		.address {
			margin-top: 40px;
			padding-left: 50px;
			label {
				font-size: 1.5em;
			}
			span{
				font-size: 1.2em;
			}
		}

	}
}	
