#registra{	
	padding-top: 70px;
	padding-bottom: 120px;
	background-color: #d7251c;
	#subir{
		opacity: 0.5;
	}
	#subir:hover{
		opacity: 1;
	}
	.title-registra{
		color: #ffffff;
		font-size: 30px;
		font-family: 'Oswald', sans-serif;
		font-weight: 700;
		text-align: center;
		margin-top: 60px;
	}
	.corchete{
		margin-top: 60px;
		margin-bottom: 60px;
		width: 100px;
	}
	.text-registra{
		color: #ffffff;
		font-size: 30px;
		font-family: 'Oswald', sans-serif;
		font-weight: 300;
		text-align: center;
	}
}