.title_form
	Información de contacto
.form-inyx
	= f.input :address, label:false, as: :string, input_html: { class: 'form-control input-inyx', placeholder: "Dirección" }
	= f.input :city, label: false, input_html: { class: 'form-control input-inyx', placeholder: "Ciudad" }
	= f.input :state, label:false, input_html: { class: 'form-control input-inyx', placeholder: "Estado" }
	= f.input :country, label:false, as: :string, input_html: { class: 'form-control input-inyx', placeholder: "País" }
	= f.input :phone_1, label:false, input_html: { class: 'form-control input-inyx', placeholder: "Teléfono primario" }
	= f.input :phone_2, label: false, input_html: { class: 'form-control input-inyx', placeholder: "Teléfono secundario" }
	= f.input :facebook_name, label: false, input_html: { class: 'form-control input-inyx', placeholder: "Nombre en facebook" }
	= f.input :twitter_name, label: false, input_html: { class: 'form-control input-inyx', placeholder: "Nombre en twitter" }
	= f.input :instagram_name, label: false, input_html: { class: 'form-control input-inyx', placeholder: "Nombre en instagram" }
	%label{ style: "margin-top:15px;"} Selecionar la ubicación del establecimiento
	.row
		.col-lg-12
			%script{ src: "http://maps.google.com/maps/api/js?libraries=places&region=uk&language=en&sensor=false" }
			%input#searchTextField.form-control.input-inyx{ type: "text", style: "margin-bottom:10px;", placeholder: "Ingresar locación"}
			#map{ style: 'height: 400px;' }

	= f.input :latitude, as: :hidden
	= f.input :longitude, as: :hidden

:javascript
	$(document).ready(function() { 
		if($("#establishment_latitude").val() != "" && $("#establishment_longitude").val() != "") {
			gmaps_init($("#establishment_latitude").val(), $("#establishment_longitude").val(), 14);
		}
		else {
			gmaps_init(11.7178613, -70.17675500000001, 10);
		}
	});