= simple_form_for(@establishment) do |f|
	.container_form	
		= render "information_step", f: f
		%br/
		= render "services_step", f: f
		%br/
		= render "contact_step", f: f
		.panel-footer{ style: "margin-bottom: 15px;"}
			.form-actions
				= f.button :submit, "Guardar", class: "pull-right btn submit-inyx"
			.clearfix

- if @establishment.brand.blank?
	:javascript
		$("#input-logo").fileinput({
			browseClass: "btn btn-primary btn-block",
			showCaption: false,
			showRemove: false,
			showUpload: false,
			browseIcon: '<i class="fa fa-folder-open"></i>',
			browseLabel: ' Subir logo',
		});
- else 
	:javascript
		$("#input-logo").fileinput({
			browseClass: "btn btn-primary btn-block",
			showCaption: true,
			captionIcon: '<i class="fa fa-folder-open"></i>',
			showRemove: false,
			showUpload: false,
			browseIcon: '<i class="fa fa-folder-open"></i>',
			browseLabel: ' Cambiar logo',
			initialPreview: ['"#{image_tag @establishment.brand, class: 'file-preview-image' if !@establishment.brand.blank?}"'],
			initialCaption: " #{@establishment.brand.file.filename.humanize}"
		});

- if @establishment.banner.blank?
	:javascript
		$("#input-banner").fileinput({
			browseClass: "btn btn-primary btn-block",
			showCaption: false,
			showRemove: false,
			showUpload: false,
			browseIcon: '<i class="fa fa-folder-open"></i>',
			browseLabel: ' Subir banner',
		});
- else 
	:javascript
		$("#input-banner").fileinput({
			browseClass: "btn btn-primary btn-block",
			showCaption: true,
			captionIcon: '<i class="fa fa-folder-open"></i>',
			showRemove: false,
			showUpload: false,
			browseIcon: '<i class="fa fa-folder-open"></i>',
			browseLabel: ' Cambiar banner',
			initialPreview: ['"#{image_tag @establishment.banner, class: 'file-preview-image' if !@establishment.banner.blank?}"'],
			initialCaption: " #{@establishment.banner.file.filename.humanize}"
		});



