- listing_hour = (1..12).map { |hour| "#{hour}:00 PM"} + (1..12).map { |hour| "#{hour}:00 AM"}
.title_form
	Información del establecimiento
.form-inyx
	- unless @establishment.errors.empty?
		%div{:class => 'alert alert-danger'}
			Se han producido errores al llenar el formulario, debe corregirlos para poder guardar.
			%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
	= f.input :name, label:false, input_html: { class: 'form-control input-inyx', placeholder: "Nombre", style: "margin-top:10px;" }
	= f.input :description, label: false, as: :text,input_html: { class: 'form-control input-inyx', placeholder: "Descripción", style: "margin-top:15px;"  }
	= f.input :public, :wrapper => :inline_checkbox, label: "¿Publicar?"
	= f.input :delivery, :wrapper => :inline_checkbox, label: "¿Entrega con te lo llevo paraguana?"
	= f.input :public_landing, :wrapper => :inline_checkbox, label: "¿Mostrar en landing?"
	.row{ style: "margin-top:20px;"}
		.col-lg-6
			= f.input :brand, label:false, as: :file, input_html: { class: "file input-inyx", placeholder: 'image', "data-buttonBefore" => false, "data-input" => false, "data-buttonText" => params[:action] == "new" ? "Subir logo" : "Cambiar logo", id: "input-logo" } 
		.col-lg-6
			= f.input :banner, label:false, as: :file, input_html: { class: "file input-inyx", placeholder: 'image', "data-buttonBefore" => false, "data-input" => false, "data-buttonText" => params[:action] == "new" ? "Subir banner" : "Cambiar banner", id: "input-banner" } 
	.row{ style: "margin-top:15px;"}
		.col-lg-6
			= f.input :day_aperture, label:false, collection: ["Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado", "Domingo"], :include_blank => "- Día de apertura -", input_html: { class: "form-control input-inyx" } 
		.col-lg-6
			= f.input :day_close, label:false, collection: ["Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado", "Domingo"], :include_blank => "- Día de cierre-", input_html: { class: "form-control input-inyx" } 
	.row{ style: "margin-top:15px;"}
		.col-lg-6
			= f.input :hour_aperture, label:false, collection: listing_hour.reverse, include_blank: "- Hora de apertura -", input_html: { class: "form-control input-inyx" }
		.col-lg-6
			= f.input :hour_close, label:false, collection: listing_hour.reverse, include_blank: "- Hora de cierre -", input_html: { class: "form-control input-inyx" }