.title_form
	Categorías y servicios
.form-inyx
	= f.association :categories, as: :check_boxes, :collection => Category.order(:name), label: "Seleccione categorías a las cual pertenece"
	= f.association :services, as: :check_boxes, :collection => Service.order(:name), label: "Seleccione servicios que ofrecen"
	%br/
	%label Tipo de pagos
	.base-error
		%center
			= "- #{@establishment.errors.messages[:base].first} -" if @establishment.errors.messages[:base]
	.row{ style: "margin-bottom:20px;"}
		.col-md-4
			%center
				%label ¿Acepta tarjeta de credito?
				= f.input :credit_card, label: false, input_html: { style: "margin:0px;" }
		.col-md-4
			%center
				%label ¿Acepta debito?
				= f.input :debit, label: false, input_html: { style: "margin:0px;" }
		.col-md-4
			%center
				%label ¿Acepta efectivo?
				= f.input :cash, label: false, input_html: { style: "margin:0px;" }
