%div{ 'ng-init'=>"init(#{@objects.as_json.to_json}, '/admin/establishments', '#{params[:search]}', #{@total_rows}, #{Kaminari.config.default_per_page})", "resize" => "" }
  .grid-content
    .col-lg-9.col-md-9{ style: "padding:0px;" } 
      .list-wrapper
        .panel.panel-default
          - flash.each do |name, msg|
            - if msg.is_a?(String)
              %div{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'} pull-right", id: "message_alerts"}
                %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
                = content_tag :div, msg, :id => "flash_#{name}"
          .panel-heading#list-heading
            - if can? :new, Establishment
              = link_to new_establishment_path, title: t("admin.buttons.new"), class: "btn btn-default btn-action", data: { no_turbolink: true } do
                %i.fa.fa-plus
            %a.btn.btn-default.btn-action{"ng-click" => "refresh()", "ng-disabled" => "pagesItemsSelected[currentPageServer].length != 0", :title => t("admin.buttons.refresh") }
              %i.fa.fa-refresh#icon-refresh{'ng-show'=>"!loadingRefresh"}
              %i.fa.fa-refresh.fa-spin{'ng-show'=>"loadingRefresh"}
            - if can? :delete, Establishment
              %a.btn.btn-default.btn-action{"ng-show" => "objects.length", "ng-click" => "allSelected(objects)", :title => t("admin.buttons.select_all") }
                %i.fa.fa-square-o{"ng-show" => "!btnDelete"}
                %i.fa.fa-check-square-o{ "ng-show" => "btnDelete" } 
              %a.btn.btn-default.btn-action#btn-delete{ "ng-show" => "btnDelete", "ng-click" => "destroy('¿Estas seguro de querer eliminar los establecimientos seleccionados?')", :title => t("admin.buttons.trash") }
                %i.fa.fa-circle-o-notch.fa-spin{ 'ng-show' => "loadingDelete" }
                %i.fa.fa-trash-o{ 'ng-show' => "!loadingDelete" }
            .paginator.pull-right{ "ng-show" => "objects.length > 0"}
              %button.btn.btn-default.pull-right.hidden-xs{'disabled'=>"", style:"color:#000; margin-left:3px;"}
                Página {{currentPage+1}} de {{numberOfPages()}}
              %a.btn.btn-default.pull-right.next{ "ng-disabled"=>"currentPage >= total_objects/pageSize - 1 || loadingNext", "ng-click"=>"next()", style: "margin-left:3px" }
                %i.fa.fa-circle-o-notch.fa-spin{ 'ng-show' => "loadingNext" }
                %i.fa.fa-arrow-right{ 'ng-show' => "!loadingNext" }
              %a.btn.btn-default.pull-right.last{'ng-disabled'=>"currentPage == 0 || loadingLast", "ng-click"=>"last()"}
                %i.fa.fa-circle-o-notch.fa-spin{ 'ng-show' => "loadingLast" }
                %i.fa.fa-arrow-left{ 'ng-show' => "!loadingLast" }
          .panel-body{ style: "border-right: 1px solid #e7e7e7;" }
            #table-scroll
              %table.grid{style: "width:100%"}
                %tbody
                  %tr{ class: "select-{{object.checked}}", "ng-click" => "show_object(object)", :id => "row-{{object.id}}", "ng-repeat" => "object in objects | startFrom:currentPage*pageSize | limitTo:pageSize"}
                    - if can? :delete, Establishment
                      %td{ width: "1px;" }
                        .checkboxFour
                          %input.checkboxFourInput{:id => "check-{{object.id}}", :type => "checkbox", "ng-model" => "object.checked", "ng-click" => "selected(object); $event.stopPorpagation();" }
                          %label{ for: "check-{{object.id}}" }
                            %span
                    %td {{ object.name }}
                    %td {{ object.city }}
                    %td {{ object.public }}
                    %td {{ object.phone_1 }}
                  %tr{"ng-show" => "!objects.length"}
                    %td{:style => "width:100%"}
                      %center
                        %i.fa.fa-frown-o
                        No hay establecimientos.
      
    .col-lg-3.col-md-3{ style: "padding:0px;"}
      .show-wrapper
        .show-head
        .show-body
          .panel.panel-default
            .panel-heading{ style: "height:55px;" }
              .actions{ "ng-show" => "object_data" }
                .title.pull-left{ style: "margin-top:6px;" }
                  %i.fa.fa-building
                  Establecimiento - {{ object_data.id }}
                - if can? :destroy, Establishment
                  = link_to "{{destroy_path(object_data.id)}}", title: t('admin.actions.delete'), :method => :delete, :data => { :confirm => '¿Estas seguro de querer eliminar este establecimiento?' }, class: "btn btn-default btn-action pull-right", "ng-show" => "object_data" do
                    %i.fa.fa-remove
                - if can? :edit, Establishment
                  = link_to "{{edit_path(object_data.id)}}", title: t('admin.actions.edit'), class: "btn btn-default btn-action pull-right", "ng-show" => "object_data", style: "margin-right:3px;", data: { no_turbolink: true } do
                    %i.fa.fa-pencil
                  = link_to "/admin/establishments/{{object_data.id}}/dishes", title: "Gestionar menú", class: "btn btn-default btn-action pull-right", "ng-show" => "object_data", style: "margin-right:3px;" do
                    %i.fa.fa-cutlery
              .actions{ "ng-show" => "!object_data", style: "margin-top:6px;" }
                %i.fa.fa-building
                Establecimiento
            .panel-body
              .data{ style: "height: {{windowHeight-104}}px;" }
                .attributes{ "ng-show" => "object_data" }
                  %label Nombre: 
                  {{object_data.name}}
                  %br
                  %label Descripción: 
                  {{object_data.description}}                  
                  %br/
                  %label Dirección: 
                  {{object_data.address}}
                  %br
                  %label Ciudad: 
                  {{object_data.city}}
                  %br/
                  %label Estado: 
                  {{object_data.state}}
                  %br
                  %label País: 
                  {{object_data.country}}
                  %br/
                  %label Día de apertura:
                  {{object_data.day_aperture}}
                  %br/
                  %label Día de cierre:
                  {{object_data.day_close}}
                  %br/
                  %label Hora de apertura:
                  {{object_data.hour_aperture}}
                  %br/
                  %label Hora de cierre:
                  {{object_data.hour_close}}
                  %br/
                  %label Teléfono principal:
                  {{object_data.phone_1}}
                  %br/
                  %label{ "ng-if" => "object_data.phone_2" } Teléfono secundario:
                  {{object_data.phone_2}}
                  %br{ "ng-if" => "object_data.phone_2" }
                  %label{ "ng-if" => "object_data.facebook_name" } Facebook:
                  {{object_data.facebook_name}}
                  %br{ "ng-if" => "object_data.facebook_name" }
                  %label{ "ng-if" => "object_data.twitter_name" } Twitter:
                  {{object_data.twitter_name}}
                  %br{ "ng-if" => "object_data.twitter_name" }
                  %label{ "ng-if" => "object_data.instagram_name" } Instagram:
                  {{object_data.instagram_name}}
                  %br{ "ng-if" => "object_data.instagram_name" }
                  %label {{object_data.public}}
                  %br/
                  %label {{object_data.delivery}}
                  %br/
                  %label {{object_data.public_landing}}
                  %br/
                  %label {{object_data.credit_card}}
                  %br/
                  %label {{object_data.debit}}
                  %br/
                  %label {{object_data.credit_card}}
                  #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
                    .panel.panel-default
                      #headingOne.panel-heading{:role => "tab", style: "background-color:rgb(195, 195, 195);" }
                        %h4.panel-title
                          %a{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
                            Categorías
                      #collapseOne.panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel"}
                        .panel-body{ style: "background-color:rgb(255, 254, 186); padding:10px;" }
                          %label {{object_data.categories}}
                    .panel.panel-default
                      #headingTwo.panel-heading{:role => "tab", style: "background-color:rgb(195, 195, 195);" }
                        %h4.panel-title
                          %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
                            Servicios
                      #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
                        .panel-body{ style: "background-color:rgb(255, 254, 186); padding:10px;" }
                          %label {{object_data.services}}
                .attributes{ "ng-show" => "!object_data"}
                  %center
                    No se ha seleccionado una categoría para mostrar.
        .show-footer
          