= content_for(:title, "Admin - Usuarios | #{@establishment.name}")
- flash.each do |name, msg|
  - if msg.is_a?(String)
    %div.hidden-xs{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}", id:"message_alerts"}
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      = content_tag :div, msg, :id => "flash_#{name}"
%div
  .panel.panel-default{style:"margin-top:50px"}
    .panel-heading#heading-show{style:"padding-top:5px"}
      .actions
        .title.pull-left{ style: "margin-top:8px;" }
          %i.fa.fa-establishment
          Establecimiento - 
          = @establishment.id
        = link_to establishment_path(@establishment), title: t('admin.actions.delete'), :method => :delete, :data => { :confirm => '¿Estas seguro de querer eliminar este establecimiento?' }, class: "btn btn-default btn-action pull-right" do
          %i.fa.fa-remove
        = link_to edit_establishment_path(@establishment), title: t('admin.actions.edit'), class: "btn btn-default btn-action pull-right", style: "margin-right:3px;" do
          %i.fa.fa-pencil 
        = link_to establishment_dishes_path(@establishment), title: "Gestionar menú", class: "btn btn-default btn-action pull-right", style: "margin-right:3px;" do
          %i.fa.fa-cutlery

    .panel-body#body-show
      %p
        = image_tag @establishment.brand, width: "200px;"
      %p
        %b Nombre:
        = @establishment.name
      %p
        %b Descripción:
        = @establishment.description
      %p
        %b Catgorías:
        - @establishment.categories.each do |categorie| 
          = categorie.name+" -"
      %p
        %b Servicios:
        - @establishment.services.each do |service| 
          = service.name+" -"
      %p
        %b Permalink:
        = @establishment.permalink
      %p
        %b ¿Publicado?:
        = @establishment.public ? "Si" : "No"
      %p
        %b Dirección:
        = @establishment.address
      %p
        %b Ciudad:
        = @establishment.city
      %p
        %b Estado:
        = @establishment.state
      %p
        %b País:
        = @establishment.country
      %p
        %b Teléfono primario:
        = @establishment.phone_1
      - unless @establishment.phone_2.blank?  
        %p
          %b Teléfono secundario:
          = @establishment.phone_2
      - unless @establishment.facebook_name.blank?
        %p
          %b Nombre en facebook:
          = @establishment.facebook_name
      - unless @establishment.instagram_name.blank?
        %p
          %b Nombre en instagram:
          = @establishment.instagram_name
      - unless @establishment.twitter_name.blank?
        %p
          %b Nombre en twitter:
          = @establishment.twitter_name
      %p
        %b Latitud:
        = @establishment.latitude
      %p
        %b Longitud:
        = @establishment.longitude
